
<div class="full-loader">
	<div class="loader-ap">
		<div class="loader-progress">
			<div class="loader-interv">
			</div>
			<p id="progress-num"></p>
		</div>
		<div class="loader-status pg-t-5">
			<h4 class="text-align-center font-light color-primary" >
				<span id="loader-status">Loading 3d Assets</span>
				<span class="timing">
					<span>.</span>
					<span>.</span>
					<span>.</span>
				</span>
			</h4>
		</div>
	</div>
</div>