<ul>
	@each(item  in data["user"] )
	<li>
		{{item["fname"]}}
		|| || 
		{{item["lname"]}}
	</li>
	@endeach
</ul>
<ol>
	@each(item  in data["cake"] )
	<li>
		{{item["fname"]}}
		|| ||
		{{item["lname"]}}
	</li>
	@endeach
</ol>