@import "_plugins/variabel";  
* {
	box-sizing: border-box !important;
}


.main-content  {
	margin-top: 0px !important;

.main-button {
	@include breakpoint-down(lg) {
		min-height: 50px !important;
		width: 100%;
	}
			min-height: 70px;
			width: 100%;
			justify-content: center;
			align-items: center;
			display: flex;
			@include padding-x(30px);
			@include breakpoint-down(md) {
				@include padding-x(15px);
			}
			a {
				img {
					transition: .2s ease;
					left: 0px;

					position: relative;
				}
				&:hover {
					img {
						left: -5px;
					}
				}
			}
		}
	.main-data {
		height: calc(100vh - 80px);
		@include breakpoint-down(lg) {
			display: flex;
			flex-direction: column;
			height: unset !important;
		}
		.main-side {
			height: calc(100% -  70px);
			width: 400px;
			float: left;
			@include breakpoint-down(lg) {
				width: 100% !important;
				order: 3;
			}	
			.side-selector {
				width: 90px;
				float: left;
				display: block;
				height: 100%;
				@include breakpoint-down(lg) {
					width: 100% !important;
					li {
						width: 25% !important;
						float: left;
					}
				}
				ul {
					width: 100%;
					li {
						display: block;
						padding: 10px;
						width: 100%;
						img {
							min-height: 40px;
						}
						&.active , &:hover {
							background-color: var(--primary);
							>* {
								filter: brightness(0) invert(1);
							}
						}
						button {
							width: 100%;
							@include normal-button();
							background-color: transparent;
						}
						 small {
						 	width: 100%;
						 	color: var(--primary);
						 	line-height: 0;
						 	display: block;

						 }

					}
				}
			}
			.side-content {
				width: calc(100% - 90px);
				float: left;
				display: block;
				height: 100%;
				background-color: var(--white);
				position: relative;
				z-index: 2;
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,.02);
				@include breakpoint-down(lg) {
					width: 100% !important;
				} 
			}
		}
	}
	.main-action {
		width: calc(100% - 400px);
		float: left;
		height: calc(100% - 70px);
		overflow: hidden;
		min-height: 400px;
		@include breakpoint-down(lg) {
			width: 100% !important;
			order: 1;
		} 
	}
}
.tab-afvenoor {
	display: none;
	.small {
		line-height: 0;
	}
	&.active {
		display: block;
	}
	.af-parent {
		.af-list {
			width: 25%;
			.button  {

				padding: 5px !important;
				&.active , &:hover {
					&.texture {
						img {
							border-color: var(--primary);
						}
					}
					&:not(.texture) .dov {
						background-color: var(--primary);
						overflow: hidden;
						img {
							border-color: transparent !important;
							filter: brightness(0) invert(1);
						}
					}
				}
			}
			img {
				height: 100%;
				width: 100%;
				padding: 5px;
				border:2px solid var(--secondary);

			}

		}
		.dov {
			height: 55px;
			@include breakpoint-down(lg) {
				img {
					max-height: 100px;
				max-width: 100px;
				}
				height: unset !important;
			}
		}
	}
}
.main-footer {
	min-height: 80px;
	position: relative;
	z-index: 2;
	align-items: center;
	justify-content: center;
	box-shadow: 0px -2px 20px 0px rgba(0,0,0,.01);

}

.loader-avenoor {
	height: 3px;
	width: 100%;
	position: absolute;
	z-index: 9;
	left: 0;
	bottom: 0;
	.loader-reac {
		width: 0%;
		height: 3px;
		display: block;
		background-color: var(--primary);
		position: relative;
	}
}


.full-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--white);
	z-index: 99999;
	.loader-ap {
		height: 150px;
		height: 150px;
		position: relative;
		display: flex;
		align-items: center;
		vertical-align: middle;
		justify-content: center;
		flex-direction: column;

		/* this handle laoder progressbar */
		.loader-progress {
			height: 25px;
			width: 320px;
			border:3px solid #AB7948;
			display: block;
			display: flex;
			border-radius: 50px;
			position: relative;
			p {
				color: var(--black);
				font-size: 12px;
				width: 100%;
				text-align:center;
				position: absolute;
			}
			.loader-interv {
				border-radius: 50px;
				height: 100%;
				width: 0%;
				display: block;
				//box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1);
				background-color: #DB9C5C;
			}
		}
	}
}




.td-next  {
	width: 100%;
	max-width: 900px;
	@include breakpoint-down(sm) { 
	padding-left: 10px;
	padding-right: 10px;
	}
	.configure {
		width: 50%;
		float: left;
		@include breakpoint-down(md) {
			width: 100%;
			float: none;
			padding-left: 0px !important;
			margin-top: 10px;
			padding-right: 0px !important;
		}
		.parental {
			background-color: var(--white);
			display: flex;
			width: 100%;
			clear: both;
			min-width: 300px;
			overflow:hidden;
			justify-content: center;
			//align-items: center;
			border-radius: 10px;

		}
		.illustrate {
			width: 100px;
			background-color: var(--dark-c);
			float: left;
			padding: 10px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			@include breakpoint-down(sm) {
				width: 80px;
			}
			img {
				width: 100%;
			}
		}  
		h3 {
			color: var(--dark);
			margin-left: -20px;
		}
		li {
			color: var(--primary);
			* {
				color: var(--white-dark);
			}
		}
		.desc {
			width: calc(100% - 150px);
			float: left;
			padding: 15px;
			padding-left: 30px;
			@include breakpoint-down(sm) {
				width: calc(100% - 110px);
			}
			p {
				font-size: 13px;
			}
		}
		.action {
			border-left: 1px solid var(--secondary);
			width: 50px;
			float: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include breakpoint-down(sm) {
				width: 30px;
			}
			&:hover {
				img {
					right: -5px;
				}
			}
			img {
				position: relative;
				transition: .2s ease;
				right: 0px;
				width: 20px;
			}
		}
		&:last-child {
			padding-left: 10px;
		}
		&:first-child {
			padding-right: 10px;
		}
	}
}



.parent-published {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
	overflow:hidden;

	.list-published-uplaoad {
		img {
			object-fit:cover;
		}
		//float: left;
		width: 400px;
		height: 100%;
		display: flex;
		flex:  0 0  400px;
		@include breakpoint-down(md) {
			width: 100%;
			flex: 0 0  100%;
		}
		label {
			display: block;
			min-height: 400px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: var(--secondary);
			width: 100%;
			* {
				width: calc(100% - 20px);
				height: calc(100% - 20px);
			}
			input {
				opacity: 0;
			}
			&:after {
					//background-color: red;
					content: "";
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					border: 1px dashed var(--white-dark);
					display: block;
					position: absolute;
					background-image: url(../images/icons/icon-camera-white.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 50px auto;
				}
		}
	}
	.list-published-data {
		width: calc(100% - 400px);
		///float: left;
		flex:  0 0 calc(100% - 400px);
		padding: 10px 25px;
		@include breakpoint-down(md) {
			width: 100%;
			flex: 0 0  100%;
		}
		input {

		}
	}
}

.popup-center {
	@include breakpoint-down(md) {
		height: unset !important;
	}
}

.add-texture {
	img {
		border: unset !important;
	}
}

.action-header {
	display: flex;
	justify-content: center;
	.action-parent {
		max-width:800px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		.action-icon {
			flex: 0 0 33.33%;
			display: flex;
			padding: 0px 80px;
			position: relative;
			justify-content: center;
			z-index: 99;
			&.on-width {
				padding: 0px 0px !important;
				flex: 0 0 25%;
			}
			@include breakpoint-down(md) {
				padding: 0px 50px;
			}
			@include breakpoint-down(sm) {
				padding: 0px 30px;
			}
			@include breakpoint-down(xs) {
				padding: 0px 10px;
			}
			a {
				user-select: none;
				cursor:unset;
			}
			&:not(:last-child):after {
				z-index: -1;
				width: 90%;
				height: 3px;
				right: -45%;
				top: 32px;
				content: "";
				position: absolute;
				border:1px solid rgba(0,0,0,0.1);
				background-color: var(--secondary);
					@include breakpoint-down(md) { 
						top: 23px;
					}
			}
			&.active {
				.solitery {
					color: var(--primary) !important;
				}
				&:after {
					background-color: var(--primary) !important;
				}
				a {
					background-color: var(--primary);
					user-select: unset;
					cursor: pointer ;
					img {
						filter: brightness(0) invert(1);
					}

				}
			}
			a {
				user-select: none;
				height: 70px;
				width: 70px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100%;
				background-color:var(--secondary);
				border:1px solid rgba(0,0,0,0.1);
				@include breakpoint-down(md) {
					height: 50px;
					width: 50px;
				}
			}
			img {
				height: 25px;
				width: 25px;
			}
		}
	}
}
.on-shide {
	overflow-y: auto;
	height: 100%;
}

.elem-card {
	max-width: 900px;
	margin: 60px auto 80px auto ;
	&.clear {
		max-width: unset !important;
		margin-bottom: 40px !important;
	}
		@include breakpoint-down(sm) {
			margin-bottom: 30px !important;
		}
	.product-desc  {
		@include breakpoint-down(md) {
			margin-top: 0px;
		}
	}
}

.footer-new-submit {
	.container {
		padding-top: 5px;
	}
	@include breakpoint-down(sm) {
		display: block !important;
	}
	.button {
		@include breakpoint-down(sm) {
			width: 100% !important;
			display: block !important;
			margin-left: 0px !important;
			&:last-child {
				margin-top: 15px !important;
			}
		}
	}
}
.solitery {
	position: absolute;
	bottom: -25px;
	color: var(--white-dark);
	p {
		text-align: center;
	}
	&:after , &:before {
			display: none !important;
			opacity: 0; 
		}
}

.couter-craft {
	.counter {
		.counter-data {
			float: left;
			width: 60px;
			height: 40px;
			background-color: var(--primary);
			border-radius: 20px;
			justify-content: center;
			display: flex;
			align-items: center;
		}
		p {
			float: left;
			margin-left: 15px;
			margin-top: 10px;
			color: var(--dark);
			width: 150px;
		}
	}
}

.dropdown-rate {
	min-width: 130px;
	margin-left: 0px !important;
	.dropdown-trigger  {
		opacity: 0;
		min-height: 120px;
	}
	a {
		text-decoration:none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.dropdown-trigger  {
		top: -20px;
		right: -10px;
		background-color: var(--secondary);
		ul {
			.start-preview {
				background-color: var(--secondary);
				overflow:hidden;
			}
		}

	}

	.start-preview  {
		ul {
			overflow:hidden;
			padding-top: 0px;
			padding-bottom: 0px;
			padding: 5px 10px;
			margin-top: -5px;
			margin-left: -10px;
			background-color: var(--secondary);
			border-radius: 20px;
			a {
				padding-top: 0px !important;
				padding-bottom: 0px !important;
			}
			li {
				width: unset !important;
				float: left !important;
				span {
					height: 15px;
					width: 15px;
				}
			}
		}
	}
}


.list-craftments {
	width: 25%;
	float: left;
	top: 0px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	transition: .3s ease;
	border-radius: 5px;
	@include breakpoint-down(lg) {
		width: 33.33%;
	}
	@include breakpoint-down(sm) {
		width: 50%;
	}
	@include breakpoint-down(xs) {
		width: 100%;
	}
	
	&:hover {
		top: -5px;
		.block-copnent {
			box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
		}	
	}
	.block-copnent {
		border-radius: 5px;
			overflow:hidden;
		transition: .2s ease;
		border-radius: 5px;
		margin-top: 20px;
		background-color: var(--white);
	}
	.cr-banner {
		img {
			height: 150px;
			width: 100%;
			object-fit: cover;
		}
	}
	.cr-profile {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: -40px;
		.profile {
			height: 70px;
			width: 70px;
			border-radius: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.cr-data {
		padding: 10px 15px;
	}
	.cr-action  {
		padding: 10px 15px 20px 15px;
	}
}

.publish-content {
	padding-top: 0px;
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 0px;
	overflow:hidden;
	@include breakpoint-down(sm) {
		margin-left: 0 !important;
	}
}
.content-tabs.engage {
	@include breakpoint-down(md) {
		.el-cap {
			width: 100% !important;
		}
		.form-search-header {
			width: 100% !important;
			max-width: 100% !important;
		}
		.view-all-stator {
			margin-top: 5px;
		}
		.dropdown-rate {
			margin-top: 1px;
		}
		.dropdown-selector-type:before {
			top: 8px;
		}
		.viewer-stator {
			margin-top: 2px;
		}
		.block-selector {
			clear: both;
			display:block ;
			min-height: 100px;
			//overflow-x: hidden;
		}
	}
	@include breakpoint-down(sm) {
		.dropdown-rate {
			margin-top: 4px;
			height: 40px;
		}
		h4 {
			font-size: 14px;
		}
		.block-selector {
			clear: both;
			display:block ;
			min-height: 170px;
			//overflow-x: hidden;
		}
		.viewer-stator {
			width: 100%;
		}
	}
}