@import "_plugins/variabel";  
.title-collapsing {
  @include breakpoint-down(md) {
    padding-bottom: 30px !important;
  }
}
.blog-pop {
  width: 70%;
  float: left;
  @include breakpoint-down(md) {
    width: 100% !important;
    @include margin-y(15px !important);
  }
  &.any {
    width: 75%;
    .blog-news {
      max-height: 307px;
      .blog-parot-text  {
        height: 100% !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        text-align: justify;
        box-sizing: border-box;
        padding: 30px !important;
        width: 100% !important;
      }
    }
  }
  .blog-news {
    max-height: 440px;
    object-fit: cover;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      
    }
  }
  .blog-parot-text {
    width: 100%;
    height: 160px;
    position: absolute;
   left: 0;
   padding: 20px;
   z-index: 2;
   bottom: 0;
    p {
      max-height: 70px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
  }
}
.blog-view {

  width: 30%;
   @include breakpoint-down(md) {
    width: 100% !important;
    .spaccer  {
      padding-left: 0px;
       @include padding-y(15px);
    }
    .blog-list  {
      padding-left: 0px !important;
      @include padding-y(15px);
    }
  }
  &.any {
    width: 25%;
  }
  float: left;
    p {

      max-height: 120px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
}
.form-search-blog {
  @include breakpoint-down(md) {
     width: 100%;
    padding-right: 0px !important;
    .form-search-header {
      max-width: unset !important;
    }
  }
}

.block-comments {
  @include breakpoint-down(sm) {
    padding-top: 30px !important;
  }
}


.blog-list-all {
  @include breakpoint-down(sm) {
    overflow: hidden;
    padding-right: 15px;
  }
  .blog-list  {
    &:first-child {
      @include breakpoint-down(md) {
        display: none !important;
      }
       @include breakpoint-down(sm) {
        display: block !important;
      }
    } 
  }
}

.blog-banner {
  max-height: 450px;
  overflow: hidden;
  img {
    max-height: 100%;
    object-fit: cover;
  }
}
.blog-data {
  @include padding-x(150px);
  @include breakpoint-down(md) {
    @include padding-x(0px);
  }
  &.blog-content p {
     @include breakpoint(md) {
       font-size: 14px;
     }
      color: #333 !important;
  }
}
.blog-node {
  width: 100%;
  background-color:rgba(#C18951, .1);
  border-left: 3px solid #C18951;
}

.block-bg-dark {
  .comment-parent-list , .create-comment-sub  {
    background-color: var(--white);
  }
}
.parent-scrollable  {
  max-height: 700px;

}


.block-share {
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 9;
  padding-bottom: 10px;
  transition: .3s ease ;
  &.active { 
     @include breakpoint(md) {
        background-color: var(--white);
        position: fixed !important;
        border-radius: 5px;
        overflow: hidden;
        left: 80px;
        box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.05);
      }
  }
  @include breakpoint-down(md) {
      overflow: hidden !important;
      position: static !important;
      top: 0px !important;
      left: 0px !important;
  }
  @include breakpoint(md) {
    width: 50px;
    justify-content: center;
    align-items: center;
    button {
      padding-top: 10px;
      width: 100%;
      display: block;
      @include padding-x(0 !important);
    }
  }

}