@import "_plugins/variabel";

.parent-auth {
	height: 100vh;
	overflow:hidden;
	clear: both;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	overflow-y:auto;
	@include breakpoint-down(md) {
		display: block;
	}
	.auth-list {
		flex: 0 0 50%;
		max-width: 50%;
		@include breakpoint-down(lg) {
			flex: unset;
			max-width: 100%;
			&:last-child {
				display: none;
			}
		}
	}
	.auth-data {
		position: relative;
		@include breakpoint(lg) {
			overflow-y: unset !important;
			padding-top: 40px;
			padding-bottom: 50px;
		}
		@include breakpoint-down(md) {
			padding-top: 20px !important;

		}
	}
	.auth-bg {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-image: url(../images/backgrounds/bg-contact.jpg);
		background-repeat: no-repeat;
	}
	.auth-parental {
		max-width: 430px;
		min-width: 430px;
		margin-left: auto;
		margin: 0 auto;
		//padding-right: 50px;
		@include breakpoint-down(md) {
			min-width: unset !important;
		}
	}
}
.auth-logo {
	position: absolute;
	top: -50px;
	left: -50px;
	@include breakpoint-down(md) {
		position: relative;
		top: -10px;
		left: 0;
		margin-right: 20px;
	}
}

.validator-component {
	width: 100%;
	display: block;
	position: relative;
	
	&.focus {
		&:after {
			width: 100% !important;
		}
	}
	&.fail {
		&:before {
			background-color: var(--fail) !important;
		}
	}
	input , textarea ,select {
		width: 100%;
		box-sizing: border-box;
		padding:15px 10px;
		color: var(--dark);
		font-size: 16px;
		position: relative;
		resize: none;
		@include normal-button();
		cursor:unset !important ;
		background-color: var(--transparent);
		border:1px solid var(--transparent);
		@include placeholder() {
			color: var(--white-dark);
		}
		&.space-padding {
			padding: 7px 10px !important;
		}
	}
	&.no-border {
		&:before {
			opacity: 0 !important;
		}
	}
	&:after {
			height: 2px;
			width: 0%;
			content:"";
			z-index: 2;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: .2s ease;
			background: var(--primary);
		}
	&:before {
			height: 2px;
			width: 100%;
			content:"";
			z-index: 2;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,.1);
	}
}

.button-login {
	height: 45px;
	width: 170px;
	@include breakpoint-down(md) {
		width: 100% !important;
	}
}

.button-login-auth {
	height: 45px;
	max-height: 45px;
	padding:0 !important;
	align-items: center;
	display: flex;
	//max-width: 170px;
	box-sizing: border-box;
	justify-content: center;
	&:hover {
		background-color: var(--transparent) !important;
	}
}

.auth-parter {
	.part-auth {
		float: left;
	}
	.part-auth:nth-child(even) {
		width: 150px;
	}
	.part-auth:nth-child(odd) {
		width: calc(50% - 75px);
		text-align: center;
	}

}
.login-auth {
	width: 50%;
	float: left;
	//@include breakpoint(md) {
		&:last-child {
			padding-left: 10px;
		}
		&:first-child {
			padding-right: 10px;
		}
	//}
	@include breakpoint-down(md) {
		//width: calc(50% - 30px);
		
	}
	&.part {
		width: 100px;
		display: flex;
		justify-content: center;
		position: relative;
		@include breakpoint-down(md) {
		width: 60px !important;
		font-size: 14px !important;
	}
	}
}
.reg-agrement {
	width: calc(100% - 170px);
	@include breakpoint-down(md) {
		width: 100% !important;
		padding-bottom: 20px;
	}
}
.reg-agrement-list {
	&:first-child {
		width: 30px;
	}
	&:last-child {
		width: calc(100% - 30px);
	}
}


.url-rules {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.auth-logo {


	img {
		max-height: 50px;
	}
	/*
	@include breakpoint-down(md) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}*/
}

iframe {
	display: none !important;
	opacity: 0 !important;
}

.select2-selection--multiple {
	border: unset !important;
}
.select2-results__option {
	color: var(--white-dark);
}
.select2-selection__choice {
	color: var(--primary) !important;
}
.select2-selection__choice {
	border-radius: 100px !important;
	padding: 0px 10px !important;
	border: 1px solid var(--primary) !important;
	background-color: #EBE1D7 !important;
	font-size: 11px !important;

}
.select2-container {
	padding-bottom: 5px;
	min-height: unset !important;
}