@import "_plugins/variabel";
//copyright tofikhidayat
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**
** this handle font **/
@font-face  {
  font-family: opensans-light;
  src:url(../fonts/OpenSans-Light.ttf);
}
@font-face  {
  font-family: opensans;
  src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face  {
  font-family: opensans-italic;
  src:url(../fonts/OpenSans-Italic.ttf);
}

@font-face  {
  font-family: opensans-semibold;
  src:url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face  {
  font-family: opensans-bold;
  src:url(../fonts/OpenSans-Bold.ttf);
} 

/**
** poppins 
**/
@font-face  {
  font-family: Volkhov-Bold;
  src:url(../fonts/Volkhov-Bold.ttf);
}
@font-face  {
  font-family: Volkhov-BoldItalic;
  src:url(../fonts/Volkhov-BoldItalic.ttf);
}
@font-face  {
  font-family: Volkhov-Italic;
  src:url(../fonts/Volkhov-Italic.ttf);
}

@font-face  {
  font-family: Volkhov-Regular;
  src:url(../fonts/Volkhov-Regular.ttf);
}
:root {
  @each $el, $color in $colors { 
    --#{$el} : #{$color};
  }
}
@include breakpoint-down(sm) {
  @for $i from 1 through 6 {  
    h#{$i} {
        font-size: ((20)-$i+1*3)+px;
    }
  }
}

/*
** configurator image
**/
img[src="Error.src"] {
    display: none;
}

/*
** define keyframes
**/

@include keyframes(fade-love) {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.url-components {
  position: absolute;
  left: -999999px;
}
.button {
  @include normal-button();
  letter-spacing: 0 !important;
  text-align:center;
  padding: 7px 10px;
  transition: .3s ease;
  text-decoration: none;
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0);
  position: relative;
  font-size: 14px;
  line-height: unset !important;
  top: 0px;
  &:not(.not-transition):hover {
    top: -5px;
   box-shadow:0px 22px 28px 0px rgba(0,0,0,.1);
  }
}

@each $el, $color in $colors { 
    .color-#{$el} {
       color: $color;
    }
    .hover-bg-#{$el} {
       &:hover {
          background-color:  var(--#{$el});
       }
    }
     .hover-border-#{$el} {
       &:hover {
          border-color:  var(--#{$el});
       }
    }
     .hover-color-#{$el} {
       &:hover {
          color:  var(--#{$el}) !important;
       }
    }
    .button-#{$el} {
      border:2px solid $color;
      background-color: $color;
      &:hover {
        background-color: $color - 20%;
        border:2px solid $color - 20%;
      }
    }
    .button-line-#{$el} {
      border:2px solid $color;
      background-color: transparent;
      &:hover {
        background-color: $color;
        color: var(--white);
      }
    }
    .border-#{$el} {
      border-color:var(--#{$el}) !important;
    }
    .background-#{$el} {
      background-color: $color;
    }    
}

/***
** setup public size 
**/
.pointer {
  cursor:pointer ;
}
.border-box {
  box-sizing: border-box;
}
.border {
  border-color: var(--secondary);
  border-style: solid;
 //border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
@for $i from 0 through 10 { 
  .border {
    &-#{$i} {
      border-width: 0;
      border-width:#{$i}px  !important;
    }
     &-top-#{$i} {
      border-width: 0;
      border-top-width:#{$i}px  !important;
    }
     &-left-#{$i} {
      border-width: 0;
      border-left-width:#{$i}px !important;
    }
     &-right-#{$i} {
      border-width: 0;
      border-right-width:#{$i}px  !important;
    }
     &-bottom-#{$i} {
      border-width: 0;
      border-bottom-width:#{$i}px  !important;
    }
  }
}
.pg-m-x-n {
  @include breakpoint-down(sm) {
    @include padding-x(0px !important);
    width: calc(50% - 5px) !important;
  }
}
@for $i from 0 through 20 {
 .top-#{$i*5} {
    top: #{$i*5}px;
  }
  .right-#{$i*5} {
    right: #{$i*5}px;
  }
  .left-#{$i*5} {
    left: #{$i*5}px;
  }
  .bottom-#{$i*5} {
    bottom: #{$i*5}px;
  }

  .pg-#{$i*5} {
    padding: #{$i*5}px;
  }
  .wd-#{$i*5} {
    width: #{$i*5}px;
  }
  .hg-#{$i*5} {
    height: #{$i*5}px;
  }
  .wd-#{$i*5}-p {
    width: #{$i*5*1%};
  }
  .hg-#{$i*5}-p {
    height: #{$i*5*1%}
  }
  .pg-t-#{$i*5} {
    padding-top: #{$i*5}px;
  }
  .pg-b-#{$i*5} {
    padding-bottom: #{$i*5}px;
  }
  .pg-l-#{$i*5} {
    padding-left: #{$i*5}px;
  }
  .pg-r-#{$i*5} {
    padding-right: #{$i*5}px;
  }
  .pg-#{$i*5} {
    padding: #{$i*5}px;
  }
  .pg-x-#{$i*5} {
    @include padding-x(#{$i*5}px);
  }
  .pg-y-#{$i*5} {
    @include padding-y(#{$i*5}px);
  }
  .mg-#{$i*5} {
    margin: #{$i*5}px;
  }
  .mg-t-#{$i*5} {
    margin-top: #{$i*5}px;
  }
  .mg-b-#{$i*5} {
    margin-bottom: #{$i*5}px;
  }
  .mg-l-#{$i*5} {
    margin-left: #{$i*5}px;
  }
  .mg-r-#{$i*5} {
    margin-right: #{$i*5}px;
  }
  .mg-#{$i*5} {
    margin: #{$i*5}px;
  }
  .mg-x-#{$i*5} {
    @include margin-x(#{$i*5}px);
  }
  .mg-y-#{$i*5} {
    @include margin-y(#{$i*5}px);
  }
  .rounded-#{$i*5} {
    border-radius: #{$i*5}px;
  }
  .rounded-#{($i*5)}-p {
    border-radius: #{$i*5*1% } ;
  }

} 


.mg-l-auto {
  margin-left: auto;
}
.mg-r-auto {
  margin-right: auto;
}

.mg-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mg-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.mg-t-auto {
  margin-top: auto;
}
.mg-b-auto {
  margin-bottom: auto;
}


/* handle overflow */
.overflow{
  &-hidden {
    overflow:hidden;
  }
  &-y-hidden {
    overflow-y:hidden;
  }
  &-x-hidden {
    overflow-x:hidden;
  }
  &-scroll {
    overflow:scroll;
  }
  &-x-scroll {
    overflow-x:scroll;
  }
  &-y-scroll {
    overflow-y:scroll;
  }
   &-visible {
    overflow:scroll;
  }
  &-x-visible {
    overflow-x:visible;
  }
  &-y-visible {
    overflow-y:visible;
  }
}



html , body {
  background-color: var(--white);
  font-family: opensans;
  color: var(--grey);
  background-color: var(--body-color);
  line-height: 1.7;
  font-size: 14px;
  overflow-x: hidden;
  box-sizing: border-box;
  //letter-spacing: 1.2px;
  outline: none ;

  &.autenticated-auth {
   @include breakpoint-down(md) {
     li.unauthenticated {
        display: none !important;
    }
    li.authenticated {
       display: block !important;
    }
   }
    .unauthenticated:not(.dropdown-list) { 
     display: none;
    }
    .authenticated:not(.dropdown-list)  { 
      display: block !important;
        &.m-hidden {
        @include breakpoint-down(md) {
          display: none !important;
        }
     }
    }
  }
  &.unautenticated-auth {
     @include breakpoint-down(md) {
      li.unauthenticated {
          display: block !important;
      }
      li.authenticated {
         display: none !important;
      }
    }
    .unauthenticated:not(.dropdown-list) { 
      display: block !important;
        &.m-hidden {
        @include breakpoint-down(md) {
          display: none !important; 
        }
    }
     }
    .authenticated:not(.dropdown-list)   { 
        display: none !important;
      }
    }
}
.dropdown-on-mobile {
  @include breakpoint(md) {
    display: none !important;
  }
}

.block-force {
  display: block !important;
}
/**
** font classs
**/
/** 
** Raleway
**/ 
.opensans , .dev {
  font-family: opensans;
}
.opensans-italic , .dev-italic {
  font-family: opensans-italic;
}
.opensans-light , .dev-light {
  font-family: opensans-light;
}
.opensans-bold , .dev-bold{
  font-family: opensans-bold;
}
.opensans-semi-bold , .dev-semi-bold {
  font-family: opensans-semibold;
}


/**
/**
** poppins
**/
.volkov-bold , .title-bold {
  font-family: Volkhov-Bold;
}
.volkov-bold-italic , .bold-italic {
  font-family: Volkhov-BoldItalic;
}
.volkov-italic , .title-italic {
  font-family: Volkhov-Italic;
}
.volkov , .title {
  font-family: Volkhov-Regular;
}

/**
** this setup public class
**/
.spacer  {
  @include padding-x(15px);
}
.mg-x-auto {
  @include margin-x(auto);
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.none {
  display: none;
}

.top-0 {
  top: 0px;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.bottom-0 {
  bottom: 0px;
}

.clear {
  clear: both;
  display: block;
  content: "";
  &.none {
    display: none;
  }
}
.o-hidden {
  overflow:hidden;
}
.o-scroll {
  overflow:scroll;
}
.o-auto {
  overflow:auto;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.list-none {
  list-style:none;
}
.bold {
  font-weight:bold;
}
.truncates {
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.container {
  @include margin-x(auto);
  width: 100% !important;
   @media screen and(max-width: 768px) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing:border-box;
  }
   @media screen and(min-width: 600px) {
    max-width: 550px;
  }
   @media screen and(min-width: 660px) {
    max-width: 600px;
  }
  @media screen and(min-width: 768px) {
    max-width: 650px;
  }
   @media screen and(min-width: 980px) {
    max-width: 900px;
  }
   @media screen and(min-width: 1024px) {
    max-width: 950px;
  }
   @media screen and(min-width: 1200px) {
    max-width:1100px ;
  }
   @media screen and(min-width: 1336px) {
    max-width:1200px ;
  }

}

.button-link {
  text-decoration: none;
  
}

/*
*handle page active 
*/
.page-active {
  color: var(--primary) !important;
}
/*
this dropdown 
*/



.dropdown {
  &.dropdown-arrow {
    &:before {
      height: 12px;
      width: 12px;
      display: block;
      content: "";
      position: absolute;
      right: -5px;
      top: 15px;
      background-size: 12px;
      background-repeat: no-repeat;
      background-image: url(../images/icons/arrow-down.svg);
    }
  }
  &.active {
     .dropdown-after  {
      display: block !important;
     }
     .dropdown-menu-parent {
      display: block;
     }
  }
  .cart-image {
    max-width: 100px;
    max-height: 100px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  } 
  .dropdown-notif {
    min-width: 370px;
    max-width: 370px;
    padding:0px 0px 5px 0px;
    overflow:hidden;
    h3 {
      font-size:18px;
    }
    ul {
      height: 300px;
      max-height: 300px !important;
      overflow-y: auto !important;
    }
    li {
        border-bottom: unset !important;
        padding-bottom: unset !important;
       a {
         border-bottom: 1px solid var(--secondary);
         padding-top: 0px !important;
         padding-bottom:  0px !important;
         h3 {
          font-size:15px !important;
         }
          .on-date{
            margin-top: -4px;
            small {
              font-style: 11px !important;
              opacity: .5;
            }
          }
          p {
            font-size: 14px !important;
          }
      }
    }
  }
  .dropdown-trigger {
        position: relative;
        overflow:hidden;
        .dropdown-notifier {
          height: 20px;
          width: 20px;
          font-size: 13px;
          display: flex;
          position: absolute;
          top: -15px;
          right: -10px;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
        }
        &.active {
          color: var(--primary) !important; 
        }
  }
  .dropdown-menu-parent {
    position: absolute;
    top: calc(100% + 10px);
    right: -10px;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--white);
    //border:1px solid var(--secondary);
    &.dropdown-market {
        min-width: 300px;
        max-width: 400px;
        width: 100%;
        &.have {
          max-width: 300px;
          min-width: 300px;
        }
        .dropdown-menu {
          overflow:visible;
        }
      @include breakpoint(md) {
          min-width: 400px;
      } 
       @include breakpoint-down(sm) {
        max-width: 100% !important;
      }
        
      }
      .market-profile {
        .profile-piture {
          max-width: 60px;
          display: block;
          width: 60px;
          position: relative;
          .profile {
            border-radius: 100%;
          }
          .verify {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

      }
     
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,.05);
    &.dropdown-cart {
      min-width: 300px;
      max-width: 400px;
      width: 100%;
       @include breakpoint(md) {
          min-width: 400px;
      }
      @include breakpoint-down(sm) {
        max-width: 100% !important;
      }
    }
    .dropdown-menu {
      max-height: 225px;  
      box-sizing: border-box;
      overflow-y:scroll;
      .dropdown-list {

      } 
    }
  }
  .dropdown-component  {
    z-index: 999;
    &.right {
      left: unset !important;
      right: 0 !important;
    }
  }
  .dropdown-after {
    height: 20px;
    width: 19px;
    display: none;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    transform: rotate(45deg);
    background-color: var(--white);
    position: absolute;
    right: 11px;
    top: calc(100%);
    z-index: 2;
    &:after {
      height: 50px;
      width: 150px;
      content: "";
      position: absolute;
      top: calc(100% - 50px);
      right: -30px;
      overflow:hidden;
      transform:rotate(45deg) !important;
    }
  }
  .dropdown-footer {
    .button {
      padding: 10px 15px;
      font-size: 13px;
    }
  }
}
.dropdow-languange {
  @include breakpoint(md) {
    .dropdown-after {
      right: 30px;
    }
    .dropdown-menu  {
      max-width: 100px !important;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}
.dropdown-notifier-mobile , .value-notifier{
  height: 19px;
  width: 19px;
  font-size: 12px;
  display: block;
  background-color: var(--primary);
  position: absolute;
  justify-content: center;
  color: var(--white);
  display: flex;
  border-radius: 100%;
  right: 40px;
  top: 10px;
  &.value-notifier {
    right: 65px;
  }
  &.expanding {
    right: 40px;
  }
  &.right-0 {
    right: 0 !important;
  }
}

.dropdown-user {
  .dropdown-notifier  {
    top: -20px !important;
  }
}
/**
** default dropdiwn menu forr componn8 
**/
.dropdown-list  {
   @include breakpoint(md) {
      @include padding-y(5px !important);
      a:not(.dropdown-trigger ) {
        @include padding-y(10px);
        width: 100%;
        min-width: 150px;
        display: block;
        overflow:hidden;
      }
      a.engage {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
    }
  .dropdown-after {
    opacity: 0;
  }
  .dropdown-menu-parent {
    left: 0;
    top: 37px;
    border-top: 3px solid var(--primary) !important;
    width: 200px;
    ul {
      overflow-y:hidden !important;
      max-height: unset !important;
      padding-top: 5px;
      padding-bottom: 5px !important;
      display: block;
      li {
        @include margin-y(1px);
        display: block;
        margin-left: 0px !important;
        width: 100% ; 
        &:not(:last-child) {
          border-bottom: 1px solid var(--secondary);
        }
        @include padding-x(0px !important);
        a {
          transition:.2s ease;
          @include padding-y(9px !important);
          display: block;
          @include padding-x(15px !important);
          &.engage {
             @include padding-y(5px !important);
          }
          &:hover {
            color: var(--primary) !important;
          }
        }
      }
    }
  }
}

.dropdown-menu-onres {
  @include breakpoint-down(md) {
    .dropdown-after , .dropdown-after:after  {
      display: none !important;
      opacity: 0 !important;
    }
   .dropdown-menu-parent {
      transition:  .5s  ease  !important;
      display: block;
      max-height: 0px;
      overflow:hidden !important;
    }
     &:not(.on-drop)   .dropdown-menu-parent  {
        border: unset !important;
      }
    &.on-drop {
       .dropdown-menu-parent {
        max-height: 500px;
        border-top: 3px solid var(--primary) !important;
       }
    }
  }
}


.dropdow-languange {
      .flags {
          max-height: 20px;
          border:1px solid var(--secondary);
        }
      .dropdown-menu-parent {
        width: 100px !important;
        border-radius: 2px;
        .border-flags {
          height: 1px;
          width: 100%;
          display: block;
          margin-left: -1px;
          background-color: var(--secondary) !important;
        }
        .inspace {
          padding-left: 0px !important;
          margin-left: 0px !important;
          margin-right: 0px !important; 
          padding-right: 0px !important;
        }
        .dropdown-menu  {
          overflow:hidden !important;
          margin-right: 0px !important;
          .dropdown-list {
            margin-left: 0px;
            max-width: 100px;
            overflow:hidden;
            padding-left:10px !important;
            padding-right:10px !important;
            margin-right: 0px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            @include breakpoint-down(sm) {
              max-width: unset !important;
            }
          }
        }
      }

    }


    
.font {
  &-bold {
    font-weight: 800;
  }
  &-light {
    font-weight: 350;
  }
  &-semi-light {
    font-weight: 400;
  }
  &-semi-bold {
    font-weight: 600;
  }
  &-normal {
    font-weight: 500;
  }
}

.m-hidden {
  @include breakpoint-down(md) {
    display: none !important;
  }
}
.m-block {
  @include breakpoint-down(md) {
   display: block !important;
  }
}
.t-hidden {
  @media screen and (max-width: 981px) {
    display: none !important;
  }
}
.t-block {
  @media screen and (max-width: 981px) {
   display: block !important;
  }
}
.text-decoration {
  &-none {
     text-decoration: none;
  }
  &-line-thought {
     text-decoration: line-through;
  }
}


.text-align {
  &-left {
    text-align: left;
  }
   &-right {
    text-align: right;
  }
   &-center {
    text-align: center;
  }
   &-justify {
    text-align: justify;
  }
}

.justify-content{
  &-center {
    justify-content: center;
  }
}
.align-items {
  &-center {
    align-items: center;
  } 
}

.bg-wood  {
  background-image: url('../images/components/wood1.svg');
  background-position: center;
  background-size: cover;
}

/* handle justify content */
.justify-content {
    &-center {
      justify-content: center;
    }
}
img[data-src] ,.slick-lazy {
        display: block;
        background-image: url('../images/gif/loader.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
 }


.navigate-carousel {
  position: relative;
  align-items: center;
  display: flex;
  width: 35px;
  height: 20px;
  background-color: var(--transparent);
  transition: .3s ease;
  left: 0px;
  @include normal-button();
  &.navigatre-primary {
    span {
      background-color: var(--primary) !important;
      &:after , &:before {
         background-color: var(--primary) !important;
      }
    }
  }
  &:hover {
    span {
      background-color: var(--primary);
      &:after , &:before {
         background-color: var(--primary);
      }
    }
  }
  span {
    width: 100%;
    transition: .5s ease;
    height: 2px;
    background-color: var(--white);
    display: block;
    &:after , &:before{
      height: 15px;
      transition: .3s ease;
      width: 2px;
      background-color: var(--white);
      content:"";
      position: absolute;
      display: block;
    }
    &:before {
      top: -2px;
    }
     &:after {
      top: 7px;
    }
  }
  &.carousel-prev-buttom {
    &:hover {
      width: 80px;
      //margin-left: -45px;
    }
    span {
        &:after,&:before {
          left: 3px;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
    }
  }
   &.carousel-next-buttom {
    &:hover {
      width: 80px;
    }
    span {
      &:after,&:before {
        right: 3px;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.intitle {
  display: block;
  padding-bottom: 30px;
  @include breakpoint-down(sm) {
    padding-bottom: 0px;
  }
  h1 {
    font-size: 27px;
  }
  &.left:after {
    margin: 0 !important;
  }
  &.alterspace:after  {
    margin-top: 15px !important;
  }
 &:not(.static) {
   &:hover:after {
    width: 90px;
  }
   &:after {
      position: relative;
      content: "";
      background-color: var(--primary);
      height: 3px;
      display: block;
      margin: 0 auto;
      transition: .3s ease;
      width: 70px;
      margin-top: 10px;
    }
 }
}
.intransition {
  transition: .3s ease-in-out;
}

/**
** this handle cardblogb
**/
.over-ellipsis {
   white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
}
.blog-list {
  box-sizing: border-box;
  padding-left: 15px;

  .blog-card {
        @include box-shadow(0px 2px 10px 0px rgba(0,0,0,.03));
        border:1px solid var(--secondary); 
        transition: .3s ease;
        position: relative;
        top: 0px;
        .card-header img {
          max-height: 250px;
          min-height: 250px;
          object-fit: cover;
        }
         .title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        p {
          color: var(--white-dark) !important;
        }
          &:hover {
            top: -5px;
            box-shadow: 0 22px 58px 0 rgba(0, 0, 0, 0.15);
          }
  }
  .love-status {
    height: 30px;
    width: 30px;
    display: block;
    @include normal-button();
    background-color: var(--transparent);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icons/icon-love.svg);
    background-size: 100%;
    &.active {
      background-image: url(../images/icons/loved.svg);
    }
  }
}

/**
** handle ppopup
**/
 .__popup-spaccer-oppponent {
  @include breakpoint-down(md) {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
 }
 .__button_handle_popup_prod {
   @include breakpoint-down(xs) {
    width: 100% !important;
    margin-left: 0px !important;
    display: block;
    &:last-child {
      margin-top: 15px;
    }
   }
 }
.cart-header-parent {
  position: fixed;
  width: 100%;
  z-index: 9999999999999999;
  display: block;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.popup {
  opacity: 0;
  z-index: -9;
  position: relative;
  transition: .2s ease;
  &.show-on-mobile-only {
    @include breakpoint(md) {
      //display: none !important; 
    }
  }
  .credit {
    position: absolute;
    bottom: 5px;
    font-size: 13px;
    color: var(--white);
    opacity: .7;
    left: 5px;
  }
  &.active {
    z-index: 9999;
    opacity: 1;
  }
  .cart-image {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  } 

  .popup-parent {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 999999999;
    background-color: rgba(0,0,0,.4x);
  .popup-center {
    @include breakpoint-down(md) {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 150px);
    }
  }
    .popup-content {
      display: flex;
      justify-content: center;
      .popup-product {
       max-width: 900px;
       position: relative;
       width: 100%;
       //max-height: 450px;
       border-radius: 10px;
       &.account {
        max-width: 600px;
        max-height: 600px;
       }
       .close-popup {
        z-index: 9;
        &:not(.feet) { 
          border-color: var(--transparent) !important;
        }
       }
      @include breakpoint-down(md) {
        border-radius: 0 !important;
        padding-bottom: 30px;
        max-height: 100vh;
        overflow-y: auto;
        max-width: 100vw;
        min-height:100vh ;
        .loved-trigger  {
          left: 10px;
        }
       .close-popup { 
          z-index: 9999;
          position: fixed;
          background-color: var(--white);
          &.button-line-primary {
            //opacity: 0;
            position: static !important;
          }
        }
        .model-popup-cart-up {
          width: 100% !important;
          @include breakpoint-down(sm) {
            //padding-right: 15px !important;
          }
        }
      }
       .preview-image {
        &:after {
          content: "";
          width: 100%;
          position: absolute;
          height: 100px;
          left: 0;
          bottom: 6px;
          background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3));
        }
         img {
          height: 100%;
          width: 100%;
          max-height: 450px;
          object-fit: cover;
          background-color: #D8D8D8  !important;
          @include breakpoint(md) {
            min-height: 450px;
          }
         }
       }
       .preview-previewer {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          justify-content: center;
          display: flex;
          .list {
            cursor: pointer;
            &.active {
             img {
               border:2px solid var(--primary);
             }
            }
          }
          img {
            height: 60px;
            width: 60px;
          }
       }
      }
    }
  }
}
.popup-conten-filter  {
  height: calc(100vh  - 150px);
  max-width: 750px;
  overflow:hidden;
  //display: flex;
  //align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  overflow-y: auto;
  padding: 30px;
  @include breakpoint-down(sm) {
    height: 100vh !important;
    padding-top: 15px !important;
    @include padding(15px);
  }
}
.popup-report {
  max-width: 500px;
  padding: 30px;
  &.aggremnet {
    max-width: 400px;
  }
  @include breakpoint-down(sm) {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    display: flex;
  }
}

/**
**
** flx popup notofication
**/
body.scroll {
 @include breakpoint(md) {
   .flex-popup-parent {
      top: 77px !important;
    }  
 }
}
.flex-popup-parent {
  position: fixed;
  top: 140px;
  right: 50px;
  transition: .3s ease;
  z-index: 999999999999;
  @include breakpoint-down(md) {
    top : 60px !important;
    right: 15px;
  }
}
.flex-popup {
  background-color: var(--white);
  @include box-shadow(0px 30px 45px 11px  rgba(0,0,0,.1));
  display: block;
  min-height: 100px;
  width: 350px;
  overflow-y: hidden;
  &:not(:first-child) {
    margin-top: 15px;
  }
   @include breakpoint-down(md) { 
    width: calc(100vw - 30px);
   }
  &.notif {
    min-height: unset;
      .popup-close {
        min-height: 50px !important;
      } 
    }
  .popup-content {
    width: calc(100% - 25px);
    overflow-y: auto;
    .flex-image {
      width: 70px;
      height: 70px;
      box-sizing: border-box;
      overflow:hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .flex-text {
      width: calc(100% - 70px);
      * {
        width: 100%;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .popup-close {
    height: 100%;
    min-height: 154px;
    position: relative;
    max-height: 155px;
    display: flex;
    min-width: 25px;
    align-items: center;
    width: 25px;
    border-left:1px solid var(--secondary);
    button {
      @include normal-button();
    }
  }
}

.tranform-to-grey {
    filter: grayscale(100%) invert(0.7);
}
.card-popup-search {
  display: block;
  border-radius: 2px;
  overflow:hidden;  
  width: 100%;
  height: 100vh;
    .spacer-container {
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,.05 );
    overflow:hidden;
  }
}
.list-of-properties {
  @include margin-x(-10px);
}
.form-search-popup  {
  width: 100%;
  display: block;
  .back {
    width: 40px;
    float: none;
    float: left;
    align-items: center;
    display: flex;
    min-height: 35px;
    @include normal-button();
    background-color: var(--transparent);
    img {
      height: 20px;
      filter: grayscale(100%) invert(0.7);
    }
  }
  form {
    width: calc(100% - 40px);
    float: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    input {
      width: calc(100% - 40px);
      float: left;
      min-height: 30px;
      color: var(--white-dark);
      @include normal-button();
      cursor:unset;
      box-sizing: border-box;
      outline: none;
      border:none !important;
      &:focus {
        outline: 0;
      }
      @include placeholder() {
        color: var(--white-dark);
      }
    }
    .button {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }
  }

}
.spacer-outline-componet-modal {
  height: calc(100vh - 50px);
  overflow-y: hidden;
  margin-top: 56px;
}
.cart-colums-modal {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}


.scrooled-event {
  overflow-y: auto;
  scrollbar-color: #DBDBDB var(--secondary);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
      background: var(--secondary); 
  }
  &::-webkit-scrollbar-thumb {
      background: #DBDBDB; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #DBDBDB; 
  }
}
.scrooled-event-on-m {
  @include breakpoint-down(md) {
    overflow-y: auto;
    scrollbar-color: #DBDBDB var(--secondary);
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: var(--secondary); 
    }
    &::-webkit-scrollbar-thumb {
        background: #DBDBDB; 
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #DBDBDB; 
    }
  }
}
.loved-trigger {
    img {
      display: none;
      height: 28px;
      animation-name:fade-love;
      animation-duration: 1s;
    }
    img.unlike {
      display: block;
    }
    &.active {
     img.like {
      display: block;
     // height: 25px !important;
    }
     img.unlike {
      display: none;
     }
  }
}

/* this handle popup view product */
.specific-view {
  .specifict-examp {
    width: 120px;
  } 
  .specifict-data {
    width: calc(100% - 120px);
  }
}
.change-color-properties-popup {
  input {
    display: none;
    &:checked + .canvas:after {
      opacity: 1 !important;
    }
  }
  .canvas {
    &.mt {
      margin-top: 5px;
    }
      height: 27px;
      width: 27px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor:pointer ;
      &.background-dark:after {
        background-color: var(--primary) !important;
      }
      &:after {
          opacity: 0;
          position: absolute;
          content:"";
          height: 12px;
          width: 12px;
          display: block;
          background-color: var(--white);
          border-radius: 100%;
      }
  }
}
 input[type=number]{
    &::-webkit-outer-spin-button, &[type="number"]::-webkit-inner-spin-button {
      @include appearance(none);
    } 
   &:not(.wd-100-p)  , &:not(.full) {
       width: 50px;
      height: 35px;
      @include padding-x(5px);
      color: var(--dark);
      box-sizing: border-box;
      border:none;
      text-align: center;
      font-size: 16px;
      @include normal-button();
      cursor:unset !important;
     }
  }
.input-quatity {
  width: 115px;
  button {
    height: 35px;
    width: 30px;
    background-color: transparent;
    color: var(--white-dark);
    @include normal-button();
    font-size: 18px;
  }
}

.share {
  @include normal-button();
  background-color: transparent;
  transition: .2s ease;

  &:hover{
    img {
      opacity: 1;
    }
  }
  img {
    opacity: .8;
    transition: .6s ease;
    height: 25px;
  }
}

.main-content {
  margin-top: 140px;
  clear: both;
  display: block;
  box-sizing: border-box;
  .parent {
    padding-bottom: 50px;
    overflow: hidden;
    width: 100%;
    @include margin-x(-15px);
    @include padding-x(15px);
    @include breakpoint-down(md)  {
        @include padding-x(0px  !important) ;
         width: calc(100% + 20px) !important;
    } 
    @include breakpoint-down(sm) {
      @include margin-x(0px !important);
        width: 100% !important;
    }
  }
  @include breakpoint-down(md) {
     margin-top: 50px;
     box-sizing: border-box;
  }
}
/**
** breadcomb
**/

.breadcomb {
  ul {
    * {
      text-transform: capitalize;
    }
    li {
      &:not(:first-child) {
        padding-left: 9px;
      }
      &:last-child {
        a {
          color: var(--primary) !important;
        }
      }
      &.spacer {
        padding-right: 0px;
        span {
          height: 15px;
          width: 1px;
          position: relative;
          top: 3px;
          margin-left: 4px;
          background-color: var(--dark);
          transform: rotate(10deg);
          display: block;
        }
      }
      a {
        text-decoration: none;
        color: var(--dark);
        text-transform: capitalize;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}


/**
** pagination 
**/

.prod_err {
  flex-direction: column !important;
}

.paginator {
      ul {
        list-style: none;
        li {
          &:not(.spacer-list):hover , &.active {
            img {
              opacity: 1 !important;
            }
            &.active .disabled {
              opacity: 1 !important;
            }
            a {
              font-weight: 800;
              color: var(--black) !important;
              &.disabled {
                pointer-events: none;
                opacity: .1 !important;
              }
            }
          }
          @include padding-x(2px);
          a {
            @include padding-x(10px);
          }
          &.spacer-list {
              span {
                height: 14px;
                top: 5px;
                width: 1px;
                position: relative;
                background-color: var(--white-dark);
                display: block;
                transform: rotate(12deg);
              }
          }
          a {
            opacity: .8;
            text-decoration: none;
            color: var(--dark);

          }
          float: left;
          img {
            height: 16px;
            position: relative;
            top: 3px;
            opacity: .5;
          }
          &:first-child {
            padding-right: 10px;
            img {
              transform: rotate(-180deg);
            }
          }
          &:last-child {
              padding-left: 10px;
          }
        }
      }
}

.sortener-parent {
    position: fixed;
    top: 80px;
    right: -100px;
    z-index: 999;
    display: none;
    transition: .4s ease;
    @include breakpoint-down(lg) {
      display: block !important;
    }
    &.active  {
      position: fixed;
      right: 15px;
      .sortener {
          background-color: var(--white);
          box-shadow: 0px 10px 30px 0px rgba(0,0,0,.1);
      }

    }
    .sortener {
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: var(--white-dark);
      transition: .2s ease;
      border-color: var(--secondary) !important;
      small {
        font-size: 12px;
      }
      img {
        opacity: .5;
        height: 25px;
        width: 25px;
      }
    }
}


.start-preview {
  clear: both;
  &.on-product {
    span {
      height: 15px !important;
      width: 15px !important;
    }
  }
  ul {
    list-style: none;
    clear: both;
   @for $i from 0 through 5 {
     &[rate="#{$i}"] {
      @for $j from 0 through $i {
         >li:nth-child(#{$j}) { 
           span:after {
            animation-name: fade-love;
            animation-duration: 1s;
            animation-delay: #{$j/9}s;
            animation-fill-mode: forwards;
          }
           span.no-anim:after {
            animation-duration: .2s !important;
            animation-delay: unset !important;
          }
         }
      }
    }
   }
    li {
      float: left;
      &:not(:first-child) {
        padding-left: 5px;  
      }
      span {
        height: 20px;
        width: 20px;
        display: block;
        background-repeat: no-repeat;
        position: relative;
        background-size: 100%;
        background-image: url(../images/icons/star-inactive.svg);
        &:after {
          height: 100%;
          width: 100%;
          content:"";
          transition: .4s ease;
          opacity: 0;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: url(../images/icons/star.svg);
          position: absolute;
        }
      }
    }
  }
}

.validator-checkbox  {
  input {
    display: none;
    &:checked + .canvas:after {
      opacity: 1 !important;
    }
  }
  .canvas {
     &.radio {
      border-radius: 100% !important;
    }
    height: 23px;
    width: 23px;
    border-radius: 2px;
    overflow:hidden;
    position: relative;
    display: flex;
    border:1px solid var(--primary);
    background-color: var(--transparent);
    justify-content: center;
    align-items: center;
    &:after {
      height: 100%;
      width: 100%;
      content: "";
      background-size: 100%;
      display: block;
      //top: 7px;
      position: absolute;
      background-color: var(--primary);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      background-image: url(../images/icons/checked.svg);
      opacity: 0;
    }
  }
}
.no-resize {
  resize: none;
}
.on-flex {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 15px;
  padding-right: 15px;
}

/**
** radio selector
**/
.radio-selector  {
  cursor: pointer;
  .text-can {
    font-size: 14px;
    color: var(--white-dark);

  }
  input {
    display: none;
    &:checked + .canvas {
      background-color: var(--primary);
      border-color: var(--primary);
      &:after{
        opacity: 1;
      }
    }
  }
  .canvas {
    padding: 5px;
    border-radius: 100%;
    background-color: var(--transparent);
    display: block;
    border:1px solid var(--white-dark);
    &:after {
      opacity: 0;
      content: "";
      position: relative;
      height: 10px;
      width: 10px;
      background-color: var(--white);
      display: block;
      border-radius:100%;
    }
  }
}

.to-top-achor  {
  position: fixed;
  bottom: 100px;
  right: -70px;
  z-index: 999;
  transition: .5s ease;
  &.active {
    right: 0px;
  }
  button {
    padding: 10px;
    background-color: var(--primary);
    @include normal-button();
    &:hover img {
      top: -5px;
    }
  }
  img {
    transform:rotate(90deg);
    height: 25px;
    position: relative;
    top:0;
    transition: .2s ease;
    filter: brightness(0) invert(1) ;

  }
}

.promo-copy {
      .promo-data {
        cursor: pointer;
        display: flex;
        align-items: center;
        vertical-align: middle;
        .promo-code {
          width: calc(100% - 50px);
          h3 {
            font-size: 18px;
            @include normal-button();
            font-weight: 500;
            background-color: transparent;
            color: var(--primary);
          }
          input {
            position: absolute;
            right: calc(100vw * 2);
          }
        }
        button {
            @include normal-button();
            background-color: transparent;
            width: 100%;
            text-align: right;
            font-size: 16px;
            color: var(--white-dark);
          }
        .promo-func {
          width: 50px;
        }
      }
  }

  .uppercase {
    text-transform: uppercase;
  }
  .capital {
    text-transform: capitalize;
  }

  .scalable {
    position: relative;
     cursor: crosshair;
     width: 100%;
       .scalable-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include transition( .0s ease-out);
    }
  }

  /**
  ** thid handleing floating chat 
  **/

  .floating-chatbox {
    display: block;
    width: 300px;
     box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1);
    border-radius: 10px ;
    height: 350px;
    background-color: var(--white);
    position: fixed;
    right: 50px;
    bottom: -350px;
    z-index: 999;
    transition: .3s ease;
    overflow:hidden;
    .is_close {
      height: 20px;
      width: 15px;
      display: block;
      padding-top: 5px;
       span {
         display: block;
        width: 15px;
        height: 2px;
        background-color: var(--white);
       }
    }
    .is_expand {
      display: none;
    }
    &[show=true] {
      bottom: 95px;
        .is_close {
          display: none;
        }
        .is_expand {
          display: block;
        }
    }
    @include breakpoint-down(md) {
      display: none !important;
    }
    .chatbox-chat-tab{
      display: none;
      &[act=true] {
        display: block;
      }
      
    }
    .chat-box-chat-list {
      display: none;
      &[act=true] {
        display: block;
      }
      
    }
    .chat-head {
      background-color: var(--primary);
      //padding: 8px 15px;
      overflow:hidden;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .chat-title {
        margin-right: auto;
      }
      .chat-close ,  .back-chat  {
        &.chat-close {
          margin-left: auto;
        }
        @include normal-button();
        background-color: transparent;
        img {
          //height: 22px;
        }
        .is_expand img , .is_close {
            filter: brightness(0) invert(1);
        }
      }
    }
    .search-on-list-chat {
        width: 100%;
        display: flex;
        overflow:hidden;
        border-radius: 40px;
        border:1px solid rgba(0,0,0,.2);
        padding: 5px 10px;
        background-color: var(--secondary);
        * {
          border:0;
          background-color: transparent;
          outline: none;
        }
        img {
          opacity: .6;
          height: 20px;
        }
        input {
          padding: 5px 10px;
          width: 100%;
          color: var(--white-dark);
          @include placeholder {
            font-size: 14px;
            color: var(--white-dark);
          }
        }
    }
    .parent-get-chat {
      height: 240px;
    }
    .chat-list-opponent {
      overflow:hidden;
      &.hide {
        display: none;
      }
      &:hover {
        background-color: rgba(0,0,0,.03);
      }
      .chat-parental {
        width: 100%;
        .chat-profile {
          position: relative;
          width: 50px;
          float: left;
          img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 100%;
          }
          .user-status {
            height: 10px;
            width: 10px;
            border-radius: 100%;
            display: block;
            position: absolute;
            bottom: 1px;
            right: 4px;
            &.on {
              background-color: #7ED321;
            }
            &.off {
              background-color: var(--white-dark);
            }
          }
        }
      }
      .chat-data {
        float: left;
        width: calc(100% - 50px);
        padding-left: 10px;
      }
    }

    .list-parent-message {
       height: 245px;
       margin-top: 10px;
       padding-bottom: 15px;
       justify-content: center;
       display: block;
       overflow-x: hidden;
      //justify-content: flex-start;

       flex-direction: column;
       .chat-all-list {
        width: 100%;

         &.by-me .chat-proto  {
            margin-left: auto;
            background-color: var(--primary);
            color: var(--white);
            border-radius: 10px 10px 0px 10px !important;
            margin-right: unset !important;
            float: right;
          }
        .chat-proto {
          margin-top: 10px;
          padding: 7px 15px;
          color: var(--dark);
          border-radius: 10px 10px 10px 0px;
          max-width: calc(100% - 40px);
          margin-right: auto;
          display: inline-block;
          background-color: var(--secondary);
          p {
            font-size: 14px !important;
            word-break:break-all;
          }
          div {
            text-align: right;
            opacity: .6;
          }
         
         }
       }
    }

    .form-typing {
      width: 100%;
        display: flex;
        overflow:hidden;
        border-radius: 40px;
        border:1px solid rgba(0,0,0,.2);
        padding: 5px 10px;
        align-items: center;
        background-color: var(--secondary);
        * {
          border:0;
          background-color: transparent;
          outline: none;
        }
        img {
          opacity: .6;
          height: 20px;
        }
         input.text {
          padding: 5px 10px;
          width: 100%;
          color: var(--white-dark);
          @include placeholder {
            font-size: 14px;
            color: var(--white-dark);
          }
        }
      label {
        width: 20px;
        height: 20px;
        input {
          display: none;
        }
      }
    }
    .pointer-status {
      height: 10px;
      width: 10px;
      position: absolute;
      background-color:var(--secondary);
      display: block;
      right: 0;
      bottom: 0;
      border-radius: 100%;
      &[stat=on] {
         background-color: #7ED321;
      }
      &[stat=off] {
              background-color: var(--white-dark);
            }
    }
  }
  
    .typing {
      clear: both;
      position: absolute;
      left: 0;
      bottom: 10px;
      z-index: 9;
       span {
        margin-left: 5px;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        background-color: rgba(0,0,0,0.2);
        display: block;
        float: left;
        position: relative;
        animation: typing .8s infinite;
        &:nth-child(2) {
           animation-delay: .3s;
        }
        &:nth-child(3) {
           animation-delay: .6s;
        }
       }
      
    }

  @include keyframes(typing) {
    0% {
          top: 0px;
    }
    25% {
      top: -2px;
    }
    75% {
        top: 2px;
    }
    100% {
      top: 0px;
    }
  }


.chat-trigger {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 999;
   @include breakpoint-down(md) {
      display: none !important;
    }

  &[stat=hide] {
    .on-hide {
      display: block;
    }
  }
   &[stat=show] {
    .on-show {
      display: block;
    }
  }
  button {
    height: 60px;
    width: 60px;
    @include normal-button();
    background-color: var(--primary);
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1);
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    &:hover {
      top: -5px;
    }
    img {
      filter: brightness(0) invert(1);
      height: 100%;
      width: 100%;
      animation-fill-mode: forwards;
      animation-name: showed;
      transition: .2s ease;
      animation-duration: .6s;
    }
  }
}
@include keyframes(showed) {
  0% {
    transform: rotate(-190deg);
    height: 0%;
    width: 0%;
  }

  100% {
    transform: rotate(0deg);
    height: 100%;
    width: 100%;
  }
}

.popover {
  &.seller {
    .popstart { 
       right: unset !important;
       left: 241px;
       bottom: 10px;
       &:before {
        right: unset;
        left: -5px;
       }

    }
  }
  position: relative;
  &:hover {
  .popstart {
    display: flex;
  }  
  }
  .popstart {
    position: absolute;
    min-width: 120px;
    display: none;
   // width: 100%;
    border-radius: 2px;
    height: 30px;
    background-color: var(--primary);
    bottom: -10px;
    //display: flex;
    align-items: center;
    color: var(--white);
    text-decoration:none;
    right: calc(100% + 40px);
    padding:5px 10px;
    &:before {
      height: 15px;
      width: 15px;
      right: -5px;
      background-color: var(--primary);
      content:"";
      top: 10px;
      position: absolute;
      transform: rotate(45deg);
    }
  }
}