@import "_plugins/variabel";

header {
	height: 75px;
	display: flex;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	background-color: var(--white);
	align-items: center;
	transition: .4s ease;
	border-bottom:1px solid rgba(0,0,0,.04);
	transition: .3s ease;
	&.scroll-bottom{
		@include breakpoint(md) {
			height: 65px;
			@include box-shadow(0px 2px 10px rgba(0,0,0,.1));
			.header-logo {
				img {
					height: 35px !important;
				}
			}
			.form-search-header:not(.focus) {
				width: 40px;
				padding-left: 0px;
				padding-right: 5px;
				background-color: var(--transparent);
				border-color:var(--transparent);
			}
			.header-logo {
				overflow:hidden;
				width: 32px !important;
			}
			.navbar-option-frost  {
				max-width: 100%;
				margin-left: 20px;
				opacity: 1;
				overflow: visible;
			}
		}
	}
	.navbar-option-frost {
		transition: .4s ease;
		max-width: 0%;
		opacity: 0;
		overflow: hidden;
		ul {
			min-width: 400px;
			display: block;
			@include breakpoint(md) {
						display: flex;
						align-items: center;
						justify-content: center;
					}
			li {
				&:first-child {
					///padding-left: 20px !important;
				}
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}


	@include breakpoint-down(md) { 
		height: 50px !important;
		max-height: 50px;
		box-shadow: 0px 2px 20px 0px rgba(0,0,0,.04);
	}
	.dropdown-menu-parent:not(.dropdown-unset)  {
		@include breakpoint-down(md) {
			position: fixed !important;
			top: 50px !important;
			z-index: 9999 !important;
			left: 0 !important;
			max-width: 100vw;
			max-width: 100vw;
			width: 100vw !important;
		}
	}
	.container-header {
		display: flex;
		height: 100%;
		align-items: center;
		.header-logo {
			width: 200px;
			transition: .3s ease;
			img {
				height: 45px;
				transition: .3s ease;
			}
			@include breakpoint-down(md) {
				display: none;
			}
		}
		.header-nav {
			margin-left: auto;
			display: flex;
			align-items: center;
			.nav-list {
				padding: 0px 10px;
				margin: 0px 5px;
				@include breakpoint-down(xl) {
					padding: 0px 5px;
				}
				&.none-padding {
					padding:0 0;
					margin: 0 0;
				}
			}
		}
		.market-bg {
			height: 200px;
			width: 100%;
			background-image: url('../images/make-market.svg');
			background-repeat: no-repeat;
			background-position: bottom center;
			display: block;
			overflow-x: hidden;
			background-size: cover;
		}
	}
}

		form.form-search-header {
			&.form-object:not(.object-view) {
				@include breakpoint-down(lg) {
					display: none;
				}
			}
				max-width: 400px;
				width: 100%;
				clear: both;
				display: flex;
				align-items: center;
				border-radius: 50px;
				background-color: var(--secondary);
				overflow:hidden;
				box-sizing: border-box;
				min-height: 40px;
				padding: 0px 20px;
				color: var(--white-dark);
				transition: .3s ease;
				border:1px solid var(--secondary);
				&:not(.object-view) {
					@include breakpoint(md) {
						width: 400px;
					}
					@media screen and (max-width: 1200px) {
						//max-width: 320px;
					}
					@media screen and (max-width: 1080px) {
						//max-width: 180px;
					}
					@media screen and (max-width: 1024px) {
						//max-width: 180px;
					}
				}
				* {
					background-color: transparent;
					@include normal-button();
				}
				input {
					width: calc(100% - 34px);
					float: left;
					cursor:unset !important ;
					height: 35px;
					font-size: 16px;	
					color: var(--white-dark);
					@include placeholder() {
						font-size: 14px;
						color: var(--white-dark);

					}
				}
				button {
					width: 30px;
					color: var(--white-dark);
					float: left;
					i {
						font-size: 22px;
						transform:rotate(-70deg);
					}
				}
		}

.header-trigger {
	width: 25px;
	@include normal-button();
	transition: .3s ease;
	display: none;
	background-color: var(--transparent);
	@media screen and(max-width: 768px) {
		display: block;
	}
	span {
		height: 2px !important ;
		width: 100%;
		display: block;
		position: relative;
		border-radius:100px;
		transition: .3s ease;
		background-color: var(--white-dark);
		&:not(:first-child) {
			margin-top: 6px;
		}
	}
}
body.expand {
	.heade-apacher {
		opacity: 1;
		z-index: 9999;
	}
	@include breakpoint-down(md) {
		.header-trigger  {
			transform: rotate(-90deg);
			span {
				&:first-child {
					transform:rotate(-45deg);
					bottom: -7.5px;
					//left: -1px;
				}
				&:nth-child(even) {
					width: 0px;
				}
				&:last-child {
					transform:rotate(45deg);
					top: -7.5px;
				}
			}
		}

		.header-nav-scroll {
			left: 0% !important;
			background-color: var(--white);
		}
	}

}


.navbar-option {
			display: flex;
			align-items: center;
			min-height: 55px;
			@include margin-x(-15px);
			ul {
				@include breakpoint(md) {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				li {
					float: left;
					@include margin-x(10px);
					padding: 0px 5px;
					@include breakpoint-down(xl) {
						@include margin-x(5px);
						padding-right:  0px !important;
					}
					a {
						padding: 5px 10px 5px 0px;
						text-decoration: none;
						position: relative;
						color: var(--dark);
						@include breakpoint-down(xl) {
							font-size:13px;
						}
						@include breakpoint(md) {
						&:not(.dropdown)  {
							&:after {
								height: 3px;
								background-color: var(--primary);
								width: 0%;
								position: absolute;
								content: "";
								display: block;
								bottom: -13.5px;
								left: 0;
								transition: .3s ease;
								@include breakpoint-down(md) {
									display: none;
								}
							}
								&:hover:after  {
									width: 100%;
								}
							}
						}
						@include breakpoint-down(md) { 
							width: 100%;
							display: block;
						}
					}
				}
			}
		}


.header-nav.header-nav-scroll {
		position: fixed;
		top: 75px;
		z-index: 999;
		width: 100%;
		clear: both;
		background-color: var(--white);
		border-bottom:1px solid rgba(0,0,0,.04);
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,.03);
		transition: .3s ease-in-out;
		@include breakpoint(md) {
			&.scroll-top {
				top: 75px;
			}
			&.scroll-bottom {
				top: 0px !important;
			}
		}
		@include breakpoint-down(md) {
			top: 50px !important;
			height: calc(100% - 50px) !important;
			.container {
				width: 100%;
				max-width: 100%;
			}
		}
		
		@include breakpoint-down(md) {
			height: 100% !important;
			top: 0px;
			z-index: 9999;
			left: -100% !important;
			width: calc(100% - 40px);
			.navbar-option {
				padding-bottom: 50px !important;
				display: block;
				box-sizing: border-box;
				overflow-x:hidden;
				height: calc(100vh - 150px);
				overflow-y: scroll !important;
				ul {
					li {
						margin-left: 0px;
						float: none;
						padding: 2px 10px;
						box-sizing: border-box;
						border-bottom: 1px solid var(--secondary);
						width: 100%;
						a {
							padding: 10px 10px 10px 0px;
							overflow:hidden;
						}
					}
				}
			}
		}
}
/* header */
.header-account {
	clear: both;
	.header-acount-profile {
		width: 60px;
		img {
			height: 60px;
			width: 60px;
			border-radius: 100%;
			overflow: hidden;
		}
	}
	.header-desc {
		box-sizing: border-box;	
		padding-top: 5px;
		width: calc(100% - 60px);
	}
}
.dropdown-menu-onres {
	@include breakpoint-down(md) {
		position: relative;
		padding-left: 0px !important;
		padding-right: 0px !important;
		a {
			@include padding-x(10px !important);
		}
		&:before {
			top: 27px !important;
			right: 15px !important;
		}
		.dropdown-menu-parent {
			width: 100% !important;
			right: 0px;
			margin-top: 0px !important;
			padding-top: 0px !important;
			position: relative !important;
			@include box-shadow(unset !important);
			overflow: hidden;
			top: 0px !important;
			box-sizing:border-box;
			ul {
				@include padding-y(unset !important);
				border-bottom: 2px solid rgba(0,0,0,0.06);
				padding-bottom: 10px !important;
				overflow-x:hidden;
				padding-top: 10px !important;
				background-color: var(--secondary);
			}
			li {
				@include margin-y(unset !important);
				background-color: var(--secondary);
				border-bottom:unset !important;
				a {
					width: 100%;
					box-sizing: border-box;
					padding-left: 30px !important;
					margin-left: 15px;
				}
				@include padding-y(0px !important);
			}
		}

		
		.dropdown-flags-over {
			li {
				//display: block !important;
				justify-content: unset !important;
				padding-top: 0px !important;
				padding-bottom: 0px !important;
				max-width: 100px !important;
				@include breakpoint-down(md) {
					width: 100% !important;
					max-width: 100% !important;
				}
				a {
					display: block !important;
					margin-left: 0px !important;
					justify-content: flex-start !important;
					overflow:hidden;
					margin-left: 0px !important;
					@include breakpoint-down(md) {
						width: 100%;
						min-width: 130px;
						clear: unset;
						padding:5px 5px 5px 20px !important;
						display: flex !important;
						justify-content: flex-start !important;
						.float-left {
							width: 30px !important;
						}
						&:last-child {
							//width: calc(100% - 30px);
							img {
								margin-top: 4px;
							}
						}
					}
				}
			}
		}
		.flag-change {
			float: right;
			position: relative;
			right: 20px;
			top: 10px;
		}
	}
}

 .header-nav-res-opt{
    @include margin-x(-15px);
    display: none !important;
    @include breakpoint-down(md) {
    	display: block !important;
    }
  }
  .heade-apacher {
  	@include breakpoint-down(md) {
  		width: 100%;
  		transition:.3s ease;
  		height: 100%;
  		position: fixed;
  		top: 50px;
  		left: 0;
  		background-color: rgba(0,0,0,.1);
  		z-index: -1;
  		opacity: 0;
  	}
  }
  .footer-transaction {
		@include breakpoint-down(sm) {
			.header-logo  {
				width: 100%;
				float: none;
			}
			.header-link {
				width: 100%;
				float: none;
				* {
					text-align: center !important;
				}
			}
		}
  }
  .header-transaction {
  	position: static !important;
  }
/* responsiv

/* config footer*/
footer {
	padding-top: 50px;
	@include breakpoint-down(md) {
			padding-top: 20px;
	}
	.foter-logo {
		///filter:brightness(0) invert(1);
	}
	.footer-logo {
		width: 35%;
		@include breakpoint-down(md) {
			//display: none;
		}
	}
	.footer-nav {
		padding-bottom: 20px;
		width: 100%;
		@include breakpoint-down(md) {
			width: 100%;
		}
		.parent-list {
			width: 20%;
			font-weight: 550;
			@include breakpoint-down(md) {
				@include breakpoint(sm) {
					min-height: 213px;
				}
			}
			&.footer-logo {
				width: 40%;
			}
			@include breakpoint-down(md) {
				width: 50% !important;
				padding-top: 20px;
			}
			@include breakpoint-down(sm) {
				width: 100% !important;
				padding-top: 30px;
			}
			.footer-list {
				padding:5px 0;
				&:first-child {
					margin-bottom: 4px;
				}
				
			}
		}
	}
	.form-email-submit {
		height: 40px;
		width: 100%;
		overflow:hidden;
		clear: both;
		margin-top: 10px;
		background-color: rgba(255,255,255,.1);
		display:flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 10px;
		box-sizing: border-box;
		border-radius: 40px;
		input {
			width: calc(100% - 40px);
			padding: 0;
			height: 40px;
			background-color: transparent;
			@include normal-button();
			cursor: unset !important;
			color: var(--white);
			font-size: 16px;
			@include placeholder() {
				font-size: 13px;
				color: var(--white-footer);
			}
		}
		button {
			padding: 0;
			max-width: 40px;
			width: 40px;
			font-size: 25px;
			&:hover  i {
				left: 5px !important;
			}
			i {
				transition:.2s ease;;
				left: 0px;
				position: relative;
			}
		}
	}
	.footer-desc {
		max-width: 300px;
		padding-top: 10px;
	}
	.linear-line {
		width: 100%;
		height: 1px;
		display: block;
		background-color: rgba(255,255,255,.1);
		
	}
	.footer-line {
		@include breakpoint-down(md) {
			padding-top: 15px;
			@include padding-x(0px !important);
		}
	}
	.footer-dash {
		padding-bottom: 20px;
		display: flex;
		padding-top: 20px;
		@include breakpoint-down(md) {
			justify-content: center;
			@include padding-x(0px !important);
		}

		clear: both;
		overflow:hidden;
	}
	.list-social{
	 	a {
	 		img {
	 			 filter:invert(100%);
	 			 transition: .2s ease;
	 		}
	 		&:hover {
	 			img {
	 				filter:invert(80%);
	 			}
	 		}
	 	}
	}
}



.search-popup {
	.popup-parent  {
		@include breakpoint-down(sm) {
			padding-top: 50px;
			background-color: var(--white);
		}
	}
	.search-close {
		position: absolute;
		top: 50px;
		right: 100px;
		@include breakpoint-down(md) {
			top: 0px;
			right: 10px;
		}
	}
	.list-opt .button {
		font-size: 12px !important;
	}
	.popup-content  {
		height: 100vh;
		width: 100vw;
		z-index: 9999999999 !important;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--white) !important;
		@include breakpoint-down(sm) {
			padding-top: 100px;
			padding-bottom: 50px;

		}
		.search-data-object {
			max-width: 700px;
			@include breakpoint(md) {
				min-width: 700px;
			}
			ul {
				li {
					@include breakpoint-down(sm) {
						width: 100%;
						float: none;
						overflow:hidden;
						clear: both;
						margin-left: 0px !important;
						padding-left: 0px !important;
					}
				}
			}
			.form-obj {
				width: 100%;
				form {
					clear: both;
					width: 100%;
					display: block;
					overflow:hidden;
					border-bottom: 2px solid var(--primary);
						input {
						width: calc(100% - 50px);
						min-height: 30px;
						padding: 10px;
						color: var(--white-dark);
						float: left;
						font-weight: 350 ;
						@include normal-button();
						cursor:unset !important;
						font-size:18px;
						@include placeholder ( ) {
							font-size: 18px;
							color: var(--white-dark);
						}
					}
					button {
						position: relative;
						float: left;
						transform: rotate(-180deg);
						width: 50px;
						right: 0px;
						height: 30px;
						top: 5px;
						img {
							width: 35px;
						}
						&:hover {
							right: -10px;
						}
					}
				}
			}
		}
	}
}