@import "_plugins/variabel";

@include breakpoint-down(lg) {
	.user-manage {
		display: none !important;
	}
	.user-content  {
		padding-bottom: 30px;
	}
}
.chat-main {
	min-height: 550px;
}
.chat-side {
	width: 300px;
	float: left;
	height: 100%;
	max-height: 560px;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 560px;
	background-color: var(--secondary);
	@media screen and (max-width: 1024px) {
		width: 250px;
	}
	@include breakpoint-down(md) {
		width: 100%;
	}
	.chat-header {
		padding: 0px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		background-color:var(--white);
		@include breakpoint-down(md) {
			height: 50px;
		}
		form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border:1px solid var(--white-dark);
			background-color: var(--secondary);
			border-radius: 100px;
			padding: 3px 10px;
			* {
				background-color: var(--transparent);
				outline: none;
				border:0;
			}
			input {
				width: 100%;
				padding: 5px;
				font-size: 14px;
				color: var(--dark);
			}
			button {
				width: 22px;
				opacity: .7;
				cursor:pointer;
				img {
					height: 22px;
				}
			}
		}
	}
	.chat-body {
			ul {
				max-height: 450px;
				padding-bottom: 10px;
				@include breakpoint-down(md) {
					max-height: 500px;
				}

				li {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 8px 15px;
					transition: .2s ease;
					&.hide {
						display: none !important; 
					}
					&.active , &:hover {
						background-color: var(--primary);
						h3 , p  {
							color: var(--white) !important;
						}
					} 
					.chat-profile {
						width: 50px;
						position: relative;
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
							border-radius: 100%;
						}
						.user-status {
							height: 10px;
							width: 10px;
							border-radius: 100%;
							position: absolute;
							right: 3px;
							bottom: 0;
							&[stat=on] {
								  background-color: #7ED321;
							}
							&[stat=off] {
								  background-color: var(--white-dark);
							}
						}
					}
					.chat-detail {
						width: calc(100% - 50px);
						padding-left: 10px;
						p {
							margin-top: -5px;
							font-size: 13px;
						}
					}
				}
			}
		}
}

.chat-data {
	float: left;
	width: calc(100% - 300px);
	@media screen and (max-width: 1024px) {
		width: calc(100% - 250px);
	}
	@include breakpoint-down(md) {
		width: 100%;
		display: none;
	}
	.chat-header {
		display: flex;
		height: 100px;
		background-color: var(--secondary);
		padding: 0px 15px;
		align-items: center;
		@include breakpoint-down(md) {
			height: 60px;
		}
		button {
			height: 30px;
			display: none;
			margin-right: 5px;
			@include breakpoint-down(md) { 
				display: block !important;
				@include normal-button();
				opacity: .6;
				padding-right: 10px;
				background-color: transparent;
				img {
					height: 20px;
					transform: rotate(-180deg);
				}
			}
		}
		.chat-profile {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.chat-profile-image {
						width: 50px;
						position: relative;
						@include breakpoint-down(md) { 
							width: 40px;
						}
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
							border-radius: 100%;
						}
						.user-status {
							height: 10px;
							width: 10px;
							border-radius: 100%;
							position: absolute;
							right: 3px;
							bottom: 0;
							&[stat=on] {
								  background-color: #7ED321;
							}
							&[stat=off] {
								  background-color: var(--white-dark);
							}
						}
			}
			.chat-detail {
				max-width: calc(100% - 80px);
				margin-right: auto;
				padding-left: 10px;
			}
		}

	}
			width: calc(100% - 300px);
			.parental-chat {
				max-height: 380px;
				justify-content: flex-end;
				@include breakpoint-down(md) {
					height: 410px;
					max-height: 410px;
				}
				.temp_ui_message {
					height: 380px;
					overflow-y: auto;
				}
				ul {
					overflow-y: auto;
					list-style-type: none;
					li {
						padding: 5px 10px;
						margin-top: 10px;
						width: 100%;
						clear: both;
						overflow:hidden;
						p {
							padding-bottom: 5px;
						}
						&.byme {
							.parent {
								float: right;
								border-radius: 10px 10px 0px 10px !important;
								background-color: var(--primary);
								color: var(--white);
							}
						}
						.parent {
							max-width: 300px;
							background-color: var(--secondary);
							padding: 10px;
							border-radius: 10px 10px 10px 0px;
							color: var(--dark);
							font-size: 14px;
							word-wrap: break-word;
							div {
								text-align: right;
								opacity: .6;
							}
						}

					}
				}
			}
			.chat-footer {
				height: 80px;
				padding:15px 15px  0px 15px ;
				border-top: 1px solid var(--secondary);
				form {
					width: 100%;
					padding: 10px 15px;
					display: flex;
					justify-content: center;
					background-color: var(--secondary);
					border-radius: 50px;
					align-items: center;
					border:1px solid var(--white-dark);
					* {
						outline: none;
						border:0;
						background-color: transparent;
					}
					input[type=text] {
						width: 100%;
						font-size: 16px;
					}
					label {
						width: 20px;
						img {
							height: 20px;
						}
					}
				}
			}
		}

		.blok-chat.avenoor {
			@include breakpoint-down(md) {
					.chat-side  {
						display: none !important;
					}
					.chat-data {
						display: block !important;
					}
			} 
		}