@import "./header";

#main-conten {
	@include breakpoint(md) {
		margin-top: 50px;
	}
}
.slick-slide {
    outline: none
}

/**
** this handle homepag banner
**/
.banner-home {
	position: relative;
	padding-top: 80px;
	min-height: 600px;
	.container {
		position: relative;
	}
	@include breakpoint-down(md) {
		padding-top: 70px;
	}
	.banner-list {
		@include padding-y(50px);
		display: flex;
		align-items:center;
		justify-content: center;
		flex-wrap: wrap;
		@include breakpoint-down(sm) {
			@include padding-y(10px !important);
		}
		.list-banner-obj {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			&:first-child {
				flex: 0 0 45%;
				max-width: 45%;
			}
			&:last-child {
				flex: 0 0 55%;
				max-width: 55%;
			}
			@include breakpoint-down(md)  {
				max-width: 100% !important;
				flex: 0 0 100% !important;
				&:not(.not-order) {
						&:first-child { 
							order: 2;
							padding-top: 40px;
						}
						&:last-child { 
							order: 1;
						}
				} 
			}
		}
	}
	h1 {
		font-size: 37px;
			@include breakpoint-down(sm) { 
				font-size: 18px;
			}
	}
	h3 {
			@include breakpoint-down(sm) { 
				font-size: 14px;
			}
	}
	.banner-text {
		max-width: 400px;
		@include breakpoint-down(md) {
			max-width: unset !important;
		}
	}
	.primary-image {
		background-color: var(--white);
		border-radius: 100%;
		height: 420px;
		width: 420px;
		//padding: 20px;
		//overflow:hidden;
		@include breakpoint-down(sm) {
			height: 300px;
			width: 300px;
		}
		margin-right: auto;
		img {
			max-width: 100%;
			max-height: 100%;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: .3s ease;
		}
	}
	.secondary-image {
		background-color: var(--white);
		border-radius: 100%;
		height: 125px;
		width: 125px;
		position: absolute;
		bottom: 0;
		right: 0;
		//padding: 10px;
		overflow:hidden;
		@include breakpoint-down(sm) {
			height: 70px;
			width: 70px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			transition: .3s ease;
		}
	}
	.color-spectate {
		ul {
			list-style: none;
			min-height: 40px;
			display: block;
			li {
				float: left;
				button {
					height: 20px;
					width: 20px;
					display: block;
					position: relative;
					top: 0;
					//transition: .2s ease;
					@include normal-button();
					border-radius: 100%;
					&.active {
						height: 35px;
						width: 35px;
						top: -7.5px;
						box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2); 
					}
				}
			}
		}
	}
}
.image-3d-landing {
	max-width:460px;
}
.back-on-filter {
	filter: brightness(100%) grayscale(100%);
	opacity: .6;
	transition: .2s ease;
	&:hover {
		opacity: 1;
		filter: unset;
	}
}


/**
** this handle feature section 
**/

.feature {
	margin-top:80px;
	@include breakpoint-down(sm) {
			margin-top: 50px;
		 }
	.feature-list-parent {
		display: block;
		clear: both;
		overflow-x:hidden;
		@include margin-x(-40px);
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0px;
		@include breakpoint-down(md) {
			@include padding-x(20px);
			overflow:visible;
			//padding-bottom: 40px;
		}
		p {
			font-size: 14px;
		}
		.list-feature {
			width: 25%;
			display: block;
			float: left;
			position: relative;
			height: 410px;
			transition: .4s ease;
			padding: 15px 10px;
			position: relative;
			z-index: 1;

			@media screen and (max-width: 980px) {
				width: 50%;
				height: unset;
				box-sizing:border-box;
			}
			@include breakpoint-down(md) {
				height: unset !important;
			}
			@include breakpoint-down(sm) {
				width: 100%;
				margin-top: 15px;
				@include padding-x(20px);
				box-sizing: border-box;
			}
			&:last-child  .clear {
				border-right: 1px solid var(--secondary);
			}
			&:first-child .clear {
				border-left: 1px solid var(--secondary);
			}
			.feature-icon {
				position: relative;
				height: 100px;
				margin:0 auto;
				width: 100px;
				.before-hover , .after-hover {
					position: absolute;
					z-index: 4;
					margin:0 auto;
					left: 0;
					right: 0;
					align-items: center;
					justify-content: center;
					display: flex;
					top: 0;
					opacity: 0;
					transition: .2s ease;
				}
			}
			.before-hover {
				opacity: 1 !important;
			}
			@include breakpoint-down(lg) {
				position: relative;
				z-index: 9;
				.clear  {
					transition: .4s ease-in-out;
				}
				.product-description {
					max-height: 400px !important;
					transition-delay: .1s !important;
				}
				.clear {
					max-height: 400px !important;
					height: auto;
				}
			}
			&:hover , &.exemplan{
				position: relative;
				z-index: 9;
					.before-hover {
						opacity: 0 !important;
					}
					.after-hover {
						opacity: 1 !important;
					}
					p {
						color: var(--white) !important;
					}
				.clear  {
					//height: 360px;
					background-color: var(--dark-c);
					color: var(--white);
					transition: .4s ease-in-out;
					box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.1);
					.product-description {
						//margin-top: 30px;
					}
				}
				.product-description {
					max-height: 400px !important;
					transition-delay: .1s !important;
				}
				.clear {
					max-height: 400px !important;
					height: auto;
				}
			}
			.clear {
				box-shadow:10px 0px 20px 0px rgba(0,0,0,.02);
				padding: 30px 25px;
				transition: .9s ease !important;
				position: relative;
				z-index: 99;
				height: 250px;
				max-height: 250px;
				border-radius: 10px;
				color: var(--dark);
				background-color: var(--white);
				overflow:hidden;
				transition-delay: .1s;
				border-top: 1px solid var(--secondary);
				border-bottom: 1px solid var(--secondary);
				@include breakpoint-down(lg) {
					max-height: 400px;
					height: auto;
				}

			}
			.product-title {
				margin-top: 20px;
			}
			.product-description {
				margin-top: 20px;
				max-height: 0px;
				overflow-y: hidden;
				transition:.5s ease;
				transition-delay: 0s;
				//transition:  ease-in-out;
				@include breakpoint-down(lg) { 
					max-height: auto;
				}
			}
		}
	}
}
/**
** this handle promotion section 
**/


.product-me {
	margin-top: 70px;
	.tab-header {
		@include breakpoint-down(sm) {
			max-width: 100%;
			overflow-x: auto !important;
			overflow-y: hidden;
			justify-content: flex-start !important;

			.list-of-nav {
				display: block;
				margin: 0 auto;
				margin-top: 20px;
				//min-width: 700px;
			}
		}
		@include breakpoint-down(xs) {
			.list-of-nav {
				//padding-left: 150px;
			}
		}
		ul {
			padding-bottom: 10px;
			border-bottom: 3px solid rgba(0,0,0,.1);
			clear: both;
			display: flex;
			li {
				padding-right: 0px !important;
			}
			a {
				padding-left: 15px !important;
				padding-right: 15px !important;
				text-decoration: none;
				position: relative;
				padding: 6px 0px 6px 0px;
				&.active {
					overflow:visible !important;
				}
				font-weight: 450;
				color: var(--white-dark);
				transition: .2s ease;
				&:hover:after , &.active:after {
					opacity: 1;
					width: 100%;
				}
				&:hover , &.active {
					font-weight: bold !important;
					color: var(--dark);
				}
				&:after {
					left: 0;
					//bottom: -15px;
					content: "";
					bottom: 0px;
					opacity: 0;
					transition: .2s ease;
					background-color: var(--primary);
					display: block;
					height: 3px;
					width: 100%;
					bottom: -9px;
					position: absolute;
				}
			}
		}
	}
}

/**
**this handle product section 
**/

.product-page-nav {
	margin-top: 50px;
	display: none;
	&.mg-t-0 {
		margin-top: 0px !important;
	}
	&.active  {
		display: block;
	}

	.product-list-name-obj {
		width: 100%;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&:not(.show-all) {
		.list-of-product {
				@include breakpoint-down(lg){
					&:nth-child(5n+1) {
						display: none !important;
					}
				}
				@include breakpoint-down(md){
					&:nth-child(4n+1)  , &:nth-child(2n+1) {
						display: none !important;
					}
		}}	
	}
		
		
	.list-of-product {
		width: 20%;
		float: left;
		&.unck {
			.product-header .popover-static {
				bottom: 26px !important;
			}
		}
		&:hover {
			*[hover=true] {
				.not-hover {
					opacity: 0;
				}
				.is-hover {
					opacity: 1;
				}
			}
		}	
		.checker-remover {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.act-hover  {
			position: relative;
			height: 100%;
			//max-height: 250px;
			min-height: 250px;
			width: 100%;
			display: block;

			img {
				object-fit: cover;
			}
			.not-hover {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			.is-hover {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: 0
			}
		}
		&:not(.prod) {
			@include breakpoint-down(lg){
				width: 25%;
			}
			@include breakpoint-down(md){
				width: 50%;
			}
		}
			@include breakpoint-down(sm){
				width: 100%;
			 }
		.spacer-parent {
			background-color: var(--white);
			border:1px solid var(--secondary);
			transition: .2s ease;
			position: relative;
			border-radius: 10px;
			overflow:hidden;
			top: 0px;
			.show-on-list {
					display: none;
				}
			&:hover {
				box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.06);
				//border-color:var(--primary);
				top: -5px;

				.popover-static:not(.show-on-list) {
					opacity: 1;
					bottom: 80px;
				}
			}
		}

		.product-header {
			background-color: #F0F0F0;
			max-height: 250px;
			position: relative;
			overflow:hidden;
			.role-badge {
				height: 30px;
				background-color: var(--transparent);
				border-radius:50px;
				position: absolute;
				@include padding-x(20px);
				top: 0;
				left: 0;
				z-index: 3;
				color: var(--primary);
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 13px;
				background-color: rgba(#C18951,.1);
				font-weight: 500;
				border:1px solid var(--primary);
			}
			img:not(.is-icon) {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		.product-header  {
			.popover-static {
				right: 10px !important;
				bottom: 26px !important;
			}
			.role-badge {
				top: 10px !important;
				left: 10px !important;
			}
			padding: 0 !important;
			max-height: 230px !important;
			img {
				object-position: center;
			}
		}
	}
	.title {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	.prising {
		font-family:opensans-bold;
	}
	.popover-static {
		opacity: 0;
		transition: .3s ease-in-out;
		height: 130px;
		width: 40px;
		background-color: var(--darken);
		//border:1px solid var(--primary);\
		border-radius: 5px;
		position: absolute;
		bottom: 80px;	
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		right: 0;
		@include breakpoint-down(lg) {
			opacity: 1;
		}
		.list-item {
			padding-top:7px;
			position: relative;
			&:not(:first-child) {
				border-top: 1px solid var(--white);
			}
			img:not(.like) {
				filter: brightness(0) invert(1);

			}
		}
		button {
			border:none;
			padding:0px;
			&:hover {
				box-shadow: unset !important;
			}
			&:hover + .over-popover {
				display: flex;
			} 
		}
		.over-popover {
			width: auto;
			display: none;
			height: 30px;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
			max-width: 200px;
			width: 100%;
			min-width: 110px;
			color: var(--white);
			top: 5px;
			background-color: var(--darken);
			position: absolute;
			font-size: 12px;
			right: calc(100% + 20px);
			&:after {
				width: 10px;
				height: 10px;
				content: "";
				background-color: var(--darken);
				position: absolute;
				right: -5px;
				transform: rotate(-45deg);
			}
		}
	}
}
/**
** this handle about section 
**/
.about {
	margin-top: 30px;
	.about-spacer {
		max-width: calc(100% - 100px);
		//overflow-x: hidden;
		///box-sizing: border-box;
		@include breakpoint-down(md) {
			width: 100% !important;
			display: flex;
			flex-direction: column;
		}
		@include breakpoint-down(md) { 
			max-width: 100% !important;
			img {
				width: 100%;
			}
		}

	}

	.hw-data-f {
		position: relative;
		top: 50px;
	}
	.hw-data-s {
		position: absolute;
		left: -50px;
		bottom: -10px;
		@include breakpoint-down(sm) {
			max-width: 300px;
			left: -10px;
			bottom: 180px;
		}
	}
	.hw-data-t {
		position: absolute;
		right: -98px;
		bottom: -90px;
		@include breakpoint-down(sm) {
			max-width: 400px;
			right: -10px;
			bottom: 0;
		}
	}
	.hw-data-h {
		position: absolute;
		top: 30px;
		right: -20px;
		max-width: 200px;
		@include breakpoint-down(sm) {
			right: -10px;
		}
	}
	.coverage {
		margin-top: 20px;
		@include breakpoint-down(md) {
			min-height: 300px;
			display: block;
		}
	}
	.desc {
		margin-top: 60px;
		@include breakpoint-down(lg) {
			margin-top: 0px;
		}
		@include breakpoint-down(md) {
			width: 100%;
			order: 1;
			flex-grow:1;
			flex-basis: 0;
			flex:0   0 100%;
		}
	}
	.image-descp {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			display: flex;
			@include breakpoint(lg) {
				margin-top: 0px !important;
			}

		@include breakpoint-down(md) {
			display: block !important;
			width: 100%;
			margin-top: 40px;
			order: 2;
			max-width: 100%;
			flex:0  0 100% ;
			flex-grow:1;
			flex-basis: 0;
		}
	}
}

/**
** this handle event section 
**/

.event {
	margin-top: 60px;
	background-image: url(../images/components/event.png);
	min-height: 500px;
	background-size: cover;
	background-position: center;
	position: relative;
	
	.card-block {
		height: 300px;
		margin-top: 300px;
		width: 500px;
		float: right;
		background-color: #9A6836;
		border-radius:2px;
		overflow:hidden;
		box-shadow: 0 22px 58px 0 rgba(0, 0, 0, 0.15);
		@media screen and (max-width:102px ) {
			max-width: 450px;
		}
		@include breakpoint-down(md) {
			width: 100%;
			max-width: 100%;
		}
		@include breakpoint-down(md) { 
			height: unset;
		}

	}
}

/**
**this handle homage blog section
**/
.blog {
	padding-top: 100px;
	padding-bottom: 100px;
	clear: both;
	overflow:hidden;
	@include breakpoint-down(md) {
		padding-top: 60px !important;
	}
	.blog-uncreate {
		max-width: 400px;
		padding-right: 50px;
		display: flex;
		min-height: 400px;
		align-items: center;
		box-sizing: border-box;
		@include breakpoint-down(md) {
			width: 100% !important;
			min-height: unset !important;
			padding-right: 0px;
			padding-bottom: 40px;
			max-width: 100% !important;
		}
		

	}
	.blog-list-parent {
		padding-left: 100px;
		box-sizing: border-box;
		width: calc(100% - 400px);
		.blog-list  {
			width: 50%;
		}
		@media screen and (max-width:1024px ) {
			padding-left: 10px;
		}
		@include breakpoint-down(md) {
			width: 100% !important;
			padding-left: 0px;
			@include margin-x(-15px);
			margin-left: -8px !important;
			.blog-list  {
				max-width: 100vw;
				padding-right: 10px;
			}
		}
		@include breakpoint-down(sm) {
			overflow-x: auto;
			max-width: 100vw ;
			width: 100vw !important;
			.clear-blog {
				padding-right: 15px;
				padding-bottom: 10px;
				min-width: calc(200vw - 30px);
				overflow-x:hidden;
			}
		}
	}
}


.user-management {
	.user-manage {
		width: 240px;
		margin-bottom: 20px;
		@include breakpoint-down(lg) { 
			width: 100% !important;
			padding-left: 0px !important;
		}
		.user-profile-main {
				width: 100%;
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
			.user-profile-content {
				height: 80px;
				position: relative;
				width: 80px;
				border-radius:100%;
				overflow: hidden;
				
				
					* {
					user-select: unset;
					}
					&:hover .camera {
					opacity: 1;
					}
					input {
						opacity: 0;
						display: block;
					}
				
				input {
					display: none;
				}
				.user-profile-object {
					width: 100%;
					height: 100%;
				}
				.camera {
					position: absolute;
					z-index: 2;		
					top: 0;
					left: 0;			
					height: 100%;
					width: 100%;
					justify-content: center;
					align-items: center;
					display: flex;
					opacity: 0;
					transition: .2s ease;
					flex-direction: column;
					object-fit: cover;
					img {
						display: block;
						height: 40px;
					}

				}
			}
		}

	}
	.user-content {
		width: calc(100% - 240px);
		@include breakpoint-down(lg) { 
			width: 100% !important;
			padding-left: 0px !important;
		}
	}
	.nav-opponents {
		ul {
			list-style: none;
			li {
				width: 100%;
				overflow: hidden;
				display: block;
				border-bottom: 1px solid var(--secondary);
				&.parent-list {
					@include padding-y(5px);
				}
				&.parent {
					background-color: var(--white);
				}
				.drop {
					&:after {
						content: "";
						position: absolute;
						right: 10px;
						background-repeat: no-repeat;
						background-position: center;
						top: 11px;
						height: 10px;
						width: 10px;
						background-image: url(../images/icons/arrow-down.svg);
						transition: .2s ease;
						transform: rotate(-90deg);
					}
					&.page-active:after {
						transform: rotate(0deg) !important;	
					}
				}
				&.page-active {
					a {
						color: var(--primary) !important;
					}	
				}
				a {
					display: block;
					width: 100%;
					position: relative;
					//font-weight: 600;
					@include padding-y(6px);	
					@include padding-x(15px);
					text-decoration:none;
					color: var(--dark);
					&.nav-parent {
						&.page-active {
							& + ul {
								max-height: 300px !important;
								overflow-y: unset !important;
							}
						}
					}
				}
				ul {
					max-height: 0px !important;
					overflow-y: hidden;
					transition: .3s ease;
					background-color: var(--secondary);

					&:before {
						height: 2px;
						width: 100%;
						display: block;
						background-color: var(--primary);
						display: block;
						content: "";
					}
					li {
						padding-left: 20px;	
					}
				}
			}
		}
	}
}

.box-oponents {
	width: 100%;
	display: flex;
	//flex-direction: column;
	align-items: center;
	//justify-content: center;
	@include breakpoint-down(sm) { 
		&.forever {
			padding-top: 5px;
			h3 {
				font-size: 14px !important;
			}
			.canvas {
				margin-top: -1px !important;
			}
		}
		&:not(.forever) {
			display: block;
			overflow:hidden;
		}
	}
	.box-data {
		width: calc(100% - 100px);
		@include breakpoint-down(sm) {
			&:not(.forever) {
				width: 100% !important;
			}
			&.forever {
				position: relative;
				width: calc(100% - 50px) !important;
			}
		}
	}
	.box-option {
		width: 100px;
		@include breakpoint-down(sm) {
			&.forever {
				width: 50px !important;
				@include padding-x(0px !important); 
			}
			&:not(.forever) {
				width: 100% !important;
				display: flex;
				justify-content: flex-end;
				@include padding-y(0px !important); 
				.address-status  , .button {
					width: unset !important;
					float: left;
					padding-bottom: 0px !important;
					display: block !important;
				}
			}
		}
	}
	.box-dev {
		@include breakpoint-down(lg) {
			overflow:hidden;
			padding-bottom: 15px !important;
		}
		.box-title {
			width: 140px;
				@include breakpoint-down(sm) {
					&:not(.forever) {
					width: 100% !important;
					span {
						float: left !important;
					}
				}	
			}
		}	
		.box-desc {
			width: calc(100% - 140px);
			@include breakpoint-down(sm) {
				width: 100% !important;
				>* {
					word-wrap: break-word;
				}
			}
		}
	}
	.box-length  {
		@include breakpoint-down(lg) {
			width: 100% !important;

		} 
	}
}

/**
** blocked 
**/
.get-view {
	display: none;
}

.primary-address {
	opacity: .1;
	&.active {
		opacity: 1;
	}
}

.form-overwrite {
	.form-title {
		width: 130px;
		&.i-end {
			width: 140px;
		}
		@include breakpoint-down(sm) {
			h3 {
				font-size: 16px;
			}
		}

	}
	.validator-component {
		width: calc(100% - 130px); 
		&.i-end {
			width: calc(100% - 140px);
		}
		input , textarea {
			padding-bottom: 5px !important;
		}
		@include breakpoint-down(sm) {
			width: 100% !important;
			input , textarea {
				padding-top: 0px !important;
			}
		}
	}
}


.box-end-desc {
	width: 100%;
	.end-data-title {
		width: 100px;
		@include breakpoint-down(md) {
			width: 100%;
			margin-bottom: 10px;
		}
		@include breakpoint-down(sm) { 
			width: 100%;
		}
	}
	.end-data-option {
		width: calc(100% - 230px);
		@include breakpoint-down(md) {
			width: calc(100% - 130px);
		}
		@include breakpoint-down(sm) { 
			width: 100%;
		}
	}
	.end-data-price {
		width: 130px;
		margin-top: 10px;
		@include breakpoint-down(sm) { 
			width: 100%;
		}
	}
	select {
		width: 100%;
		display: block;
		min-height: 30px;
		border:1px solid var(--secondary);
		padding: 10px;
		background-color: var(--white-grey);
	}
	textarea {
		padding: 10px;
		font-style:14px;
		outline: none;
		border:1px solid var(--secondary);
	}
}
/* 
** handle product promotion
**/



.carousel-promote {
	width: calc(100% - 250px);
	float: left;
	@include breakpoint-down(lg) {
		width: 100% !important;
		position: relative;
		z-index: 99;
	}
	img {
		min-height: 420px;
		max-height: 420px;
		width: 100%;
		object-fit: cover;
		object-position: left center;
		border-radius: 10px 0px 0px 10px ;
		@include breakpoint-down(md) {
			border-radius: 10px !important;
		}
		@include breakpoint-down(md) {
			max-height: unset;
			min-height: unset;
		}
		@media screen and (max-width: 380px) {
			//max-height: 200px !important;
			//min-height: 200px !important;
		}
	}
}
.carousel-content-nav {
		width: 250px !important;
		float: left !important;
		overflow:hidden !important;
		min-height: 420px !important; 
		display: flex !important;
		justify-content: flex-end;
		align-items: center;
		box-sizing: border-box;
		flex-direction: column;
		border-radius: 0px 10px 10px 0px;
		@include padding-y(20px !important);
		@include breakpoint-down(lg) {
			float: none;
			margin-top: -300px;
			padding-bottom: 35px !important;
			margin-left: calc(50% - 125px);
		}
		@include breakpoint-down(md) {
			max-height: 200px;
			border-radius: 0px 0px 10px 10px !important;
		}
		@include breakpoint-down(sm) {
			max-height: 250px !important;
			min-height: 250px !important;
			margin-top: -140px !important;
		}
	}

	.navigate-carousel:not(.carousel-banner-button) {
		&:hover {
			span , span:before , span:after  {
				background-color: var(--white) !important;
			}
		}
	}
	.nav-carousel-nav {
		width: 100%;
		min-width: 200px;
		justify-content: center;
		align-items: center;
		display: flex !important;
		overflow: hidden;
		&.carousel-nav-on-mobile {
			display: none !important;
			@include breakpoint-down(lg) {
				display: flex !important;
			}
		}
		&.carousel-nav-on-desktop {
			display: block;
			position: absolute;
			top: 50%;
			width: 50px;
			span:before {
				top: -1px !important;	
			}
			span:after {
				top: 6px !important;	
			}
			&.prev {
				left: -50px;
				justify-content: flex-start !important;
				min-width: unset !important;
				@include  breakpoint-down(xl) {
					left: -20px !important; 
				}
			}
			&.next {
				right: -50px;
				min-width: unset !important;
				justify-content: flex-end !important;
				@include  breakpoint-down(xl) {
					right: -20px !important; 
				}
			}
			@include breakpoint-down(lg) {
				display: none !important;
			}
		}
	}
	#carousel-promote-dot {
		padding-top: 10px;
		.slick-dots {
			list-style:none;
			width: 100%;
			justify-content: center;
			display: flex;
			padding-top: 20px;
			li {
				@include margin-x(3px);
				&.slick-active {
					button {
						background-color: var(--white);
					}
				}
			}
			button {
				color: var(--transparent);
				height: 11px;
				width: 11px;
				display: block;
				font-size: 0px;
				border-radius: 100%;
				@include normal-button();
				transition: .2s ease;
				background-color: rgba(#fff,.7);
				&:hover {
					background-color: var(--white) !important;
				}
			}
		}
	}
	.disc-promote {
		display: none !important;	
		overflow:hidden !important;
		height: 0px !important;
		overflow:hidden !important;
		padding:0px !important;
	}

	.promotion-interfaces {
		height: 100px;
		min-height: 180px;
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow:hidden;
		@include breakpoint-down(lg) {
			display: none !important;
		}
		.font-light.opensans-bold {
			font-size: 37px;
		}
		>* {
			@include margin-y(0px !important);
			animation-name:keypromote;
			animation-duration: 1s;
			position: relative;
		}
	}
	@keyframes keypromote {
		0% {
			opacity: 0;
			left: -200px;
		} 100% {
			opacity: 1;
			left: 0px;
		}
	}

	.block-selector {
		//overflow-y: hidden;
		width: 100%;
		display: flex;
		clear: both;
		min-height: 60px;
		border-radius: 5px;
		background-color: var(--white);
		box-shadow: 0px 2px 15px rgba(0,0,0,.03);
		@include breakpoint-down(sm) {
			&:not(.forever) {
				display: none !important;
			}
		}
	}

	.selector-view {
		height: 25px;
		width: 45px;
		display: block;
		//overflow:hidden;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		img {
			position: absolute;
			opacity: 0;
			&.for-inactive {
				opacity: 1 ;
			}
		}

		&.active {
			img.for-inactive {
				opacity: 0 !important;
			}
			img.inactive {
				opacity: 1 !important;
			}
		}
	}
	.dropdown-selector-type {
		&:before {
			z-index: 99;
			right: 10px !important;
		}
		.dropdown-trigger {
			background-color: var(--secondary);
			padding: 5px 25px;
			padding-right: 35px !important;
			border-radius: 50px;
		}
	}




/*
** this handle user uplod product
**/

.form-upload-product {
	.blok-content {
		@include breakpoint-down(md) {
			@include padding-x(15px !important);
		}
	}
	label:not(.upload) {
		font-size: 16px;
		color: var(--dark);
	}
	input:not([type=file]) , select  , textarea{
		padding:10px 10px;
		background-color: var(--white);
		font-size: 14px;
		@include normal-func();
		resize: none;
		color: var(--white-dark);
		width: 100%;
		border: 1px solid var(--secondary);
		@include placeholder() {
			color: var(--white-dark);
		}	
	}
	select {
		background-color: var(--white-grey) !important;
		cursor:pointer;
	}
	.previewer {
		max-height: 100%;
		max-width: 100%;
		overflow:hidden !important;
		object-fit: cover;
	}
	.product-upload {
		width: 50%;
		padding-right: 15px;
		@include breakpoint-down(md) {
			width: 100% !important;
			padding-right: 0px;
		}
		.parental {
			min-height: 350px;
			background-color: var(--secondary);
			padding: 20px;
			clear: both;
			display: block;
				@include breakpoint-down(md) {
					min-height: 200px;
				}
			overflow:hidden !important;
			.in-parent {
				min-height: 350px;
				width: 100%;
				height: 100%;
				max-height: 350px;
				overflow:hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				border:2px dashed var(--white-dark);
				justify-content: center;

					@include breakpoint-down(md) {
						min-height: 200px;
						max-height: 200px;
					}

				* {
					position: absolute;
				}
				span {
					color: var(--white-dark);
					bottom: 70px;
				}
				input {
					opacity: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	.price-parent {
		.price-selector {
			width: 100px;
			float: left;
			padding-right: 10px;
		}
		.price-input {
			padding-left: 10px;
			width: calc(100% - 100px);
			float: left;
		}
	}
	.product-desc {
		padding-left: 15px;
		width: 50%;
		@include breakpoint-down(md) {
			width: 100% !important;
			padding-top: 20px;
			padding-left: 0px;
		}
	}
	.weight-selector {
		max-width: 424px;
	}
	.button-action {
		@include breakpoint-down(sm) { 
			padding-bottom: unset !important;
			}
		.button-list {
			@include breakpoint-down(sm) {
				width: 100%;
				clear: both;
				float: none;
				padding-right: 0px 20px;
				padding-left: 0px !important;
				.button {
					margin-top: 10px;
					display: block;
					width: 100%  !important;
				}
			}
		}
	}
}

.banner-how {
	.banner-text {
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
		.banner-parent-text {
			margin-right: 100px;
			margin-left: auto;
			max-width: 500px;
				@include breakpoint-down(md) { 
					max-width: unset !important;
					margin-right: 0px;
					h3 {
						font-size: 16px;
					}
					h1 {
						font-size: 27px !important;
					}
				}
		}
		h1 {
			font-size: 37px;
		}
	}
	img {
		max-width: 500px;
		@include breakpoint-down(md) {
			width: 100%;
		}
	}
	.banner-illustration  {
		@include breakpoint-down(md) {
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}
	.list-bannner {
		flex-wrap:wrap;
		.banner-list-obj {
			flex: 0 0 50%;
			max-width:50% ;;
			@include breakpoint-down(md) {
				flex: 0 0 100%;
				max-width: 100%;
				&:first-child {
					order: 2;
				}
				&:last-child {
					order: 1;
				}
			}
		}	
	}
}

.flex-how-work {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	overflow:hidden;
	.none-on-hd{
		display: none !important;
		@include breakpoint-down(md) {
			display: flex !important; 
		}
	}
	&.end {
		align-items: flex-start;
	}
	.flex-end {
		align-items: flex-end;
		justify-content: flex-end;
		display: flex;
		
	}
	.col-active {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		@include breakpoint-down(md) {
				max-width: 100%;
				flex: 0 0 100%;
				justify-content: center;
				align-items: center;
		}
	}
	.desc-t {
		margin-left: auto;
		margin-right: auto;
		max-width:350px;
	}
	.col-image-first {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		@include breakpoint-down(md) {
			align-items: center !important;
			justify-content: center !important;
		}
	}
	
	.col-image-last {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		@include breakpoint-down(md) {
			align-items: center !important;
			justify-content: center !important;
		}
	}
}

/**
** handlig  notifivation
**/
.get-notif-chain {
	margin-top: -20px;
}

.notif-row  {
	justify-content: center;
	flex-wrap: wrap;
	@include breakpoint-down(sm) { 
	 h3 {
	 	font-size: 16px;
	 }
	 h4 {
	 	font-size: 14px;
	 }
	 p {
	 	font-size:13px;
	 }
	}
	.notif-timeline {
		align-items: center;
		flex: 0 0 150px;
		flex-direction: column;
		align-items: center;
		flex-direction: column;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-right: 1px solid var(--secondary);
		@include breakpoint-down(sm) {
			.floating-notif {
				flex-direction: unset;
				justify-content: unset;
				display: block;
				* {
					float: left;
				}
				p {
					font-size: 14px;
					padding-left: 5px;
				}
			}
			flex: 0 0  100%;
			border-right: unset;
			border-bottom: 1px solid var(--secondary);
		}

	}
	.notif-description {
		//width: calc(100% - 150px);
		flex: 0 0 calc(100% - 150px);
		@include breakpoint-down(sm) {
			flex: 0 0  100%;
		}
	}
}
.on-notif-parent {
	display: block;
	clear: both;
	//overflow:hidden;
}
.on-notif {
	@include breakpoint-down(sm) {
		width: 100%;
		float: none;
		h4 {
			font-size: 14px !important;
		}
		min-height: 50px;
		.dropdown  {
			position: relative;
			top: 2px;
		}
		*.float-right {
			float: left !important;  
		}
	}
}

.change-store-data {
	clear: both;
	overflow:hidden;
	.blok-change-image {
			width: 200px;
			float: left;
			@include breakpoint-down(sm) {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		.change-profile {
			.on-title {
				@include breakpoint-down(sm) {
					//justify-content: flex-start !important;
				}
			}
			label {
				height: 200px;
				width: 200px;
				display: block;
				background-color: var(--secondary);
				border-radius: 100%;
				border-radius: 100%;
				position: relative;
				justify-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;
				padding: 10px;
				&:after {
					//background-color: red;
					content: "";
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					border: 1px dashed var(--white-dark);
					border-radius: 100%;
					display: block;
					position: absolute;
					background-image: url(../images/icons/icon-camera-white.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 50px auto;
				}
			}
			img {
				border-radius: 100%;
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				position: absolute;
				object-fit: cover;
				object-position: center;
			}
			input  {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 9;
			}
		}
	}
	.c-store  {
		@include breakpoint-down(sm) {
			width: 100% !important;
		}
	}
	.blok-change-banner {
		width: calc(100% - 200px);
		padding-left: 50px;
		float: left;
			@include breakpoint-down(sm) {
				width: 100%;
				padding: 0px 15px;
			}
		.change-profile {
			width: 100%;
			label {
				min-height: 200px;
				width: 100%;
				background-color: var(--secondary);
				display: block;
				display: flex;
				justify-content: center;
				align-items: center;
				&:after {
					//background-color: red;
					content: "";
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					border: 1px dashed var(--white-dark);
					display: block;
					position: absolute;
					background-image: url(../images/icons/icon-camera-white.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 50px auto;
				}
				img {
					object-fit: cover;
					object-position: center;
				}
				* {
					display: block;
					position: absolute;
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					&[type=file] {
						width: 100%;
						height: 100%;
						opacity: 0;
					}


				}
			}
		}
	}

}

.change-store-data {
	.list-parent-deliver {
		.list-deliver {
			width: 33.33%;
			float: left;
			padding: 5px;
			@include breakpoint-down(md) {
				width: 50%;
			}
			@include breakpoint-down(xs) {
				width: 100%;
			}
			.oponenn {
				label {
					min-height: 70px;
					cursor:pointer ;
					display: flex;
					padding:5px  10px;
					margin-top: 15px;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					border-radius: 10px;
					border:1px solid var(--secondary);
					.check-box {
						flex: 0 0 30px;
					}
					.image {
						flex: 0 0 80px;
						//display: flex;
						padding-top: 5px;
						img {
							height: auto;
							width: 100%;
						}
					}
					.text {
						flex: 0 0  calc(100% - 110px);
						margin-right: auto;
						padding-left: 10px;
						h3 {
							color: var(--dark);
						}
					}
				}
			}
		}
	}		
}

.prod-asses-mannage {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-top: 10px;
	flex-wrap: wrap;
	@include breakpoint-down(md) {
			align-items: unset;

		}
	@include breakpoint-down(sm) {
			display: block;
			overflow:hidden;
		}
	.prod-list-image {
		width: 250px;
		position: relative;
		a {
			width: 100%;
			display: block;
		}
		@include breakpoint-down(md) {
			width: 50% !important;
			flex: 0 0 50%;
		}
		@include breakpoint-down(md) {
			width: 100% !important;
			flex: 0 0 100%;
		}

		label {
			position: absolute;
			top: 10px;
			left: 10px;
		}
		img {
			width: 100%;
			height: 100%;
			background-color: var(--secondary);
		}
	}
	.prod-list-data {
		padding: 15px;
		width: 300px;
		margin-right: auto; 
		&.forever {
			width: calc(100% - 250px) !important;
			max-width: calc(100% - 250px) !important;
			flex: 0 0 calc(100% - 250px) !important;
		}
		@include breakpoint-down(md) {
			width: 50% !important;
			width: 100%;
			flex: 0 0 50%;

		}
		@include breakpoint-down(sm) {
			width: 100% !important;
			flex: 0 0 100%;
		}
		h3 {
			font-size: 18px;
		}
	}
	.mannage-status {
		width: 100%;
		padding-top: 5px;
		overflow:hidden;
		.colum-title {
			float: left;
			width: 100px;
		}
		.colum-symbol {
			width: 30px;
			float: left;
			text-align: center;
			@include breakpoint-down(sm) {
		}
		}
		.colum-desc {
			width: calc(100% - 130px);
			float: left;
		}
		
		
	}
	.prod-list-stock.first {
		display: none;
		@include breakpoint-down(lg) {
			display: block !important;
			label {
			width: 100%;
			clear: both;
			display: block;
			padding-top: 10px;
			* {
				color: var(--dark) !important;
			}
		}
		}
	}
	.prod-list-stock:not(.first) {
		
		@include breakpoint-down(lg) {
			width: 50% !important;
			width: 100%;
			display: none;
			flex: 0 0 50%;
		}
		margin-right: auto;
		label {
			width: 100%;
			clear: both;
			display: block;
			padding-top: 10px;
			* {
				color: var(--dark) !important;
			}
		}
	}
	.prod-list-action {
		margin-left: auto;
		max-height: 400px;
		height: 100%;
		min-height: 255px;
		display: flex;
		max-width: 80px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-left: 1px solid var(--secondary);
		padding: 15px;
		button {
			width: 100%;
		}
		@include breakpoint-down(md) {
			div {
				float: right;
			}
			width: 100%;
			flex: 0 0 0 100%;
			max-width: 100%;
			min-height: unset;
			padding-top: unset !important;
			padding-bottom: unset !important;
			border-left: unset !important;
			display: block;
			margin-left: unset !important;
			button {
				&:first-child {
					margin-left: auto;
				}
				width: unset !important;
				padding-left: unset !important;
				padding-right: 5px;
			}
		}
	}
}
.transaction-me-popup {
	//max-width: 800px !important;
}
.nav-on-page {
	width: 100%;
	@include breakpoint-down(sm) {
		width: 100%;
		margin-bottom: 15px;
	} 
		li{
			list-style:none;
			float: left;
			&:not(:first-child) {
				padding-left: 20px;
			}
			&.active a {
				color: var(--primary);
				&:after {
					height: 2px;
					width: 100%;
					display: block;
					content: "";
					position: absolute;
					background-color: var(--primary);
					bottom: -16px;

				}
			} 
			&:first-child a {
					padding-left: 0px !important;
				}
			a {
				position: relative;
			
					color: var(--white-dark);
				padding: 0px 10px;
				font-size:16px;
				text-transform: uppercase;
				text-decoration: none;

			}
		}
}

.transaction-on-header {
	padding: 0px 20px 40px 20px;
	.row-transaction {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 10px;
		.transaction-title {
			width: 110px;
			max-width: 110px;
			flex: 0 0  110px;
			p {
				font-weight: 600 !important;
			}
		}
		.transaction-symbol {
			width: 30px;
			max-width: 30px;
			flex: 0 0  30px;
		}
		.transaction-data {
			width: calc(100% - 140px);
			max-width: calc(100% - 140px);
			flex: 0 0  calc(100% - 140px);
		}
	}
}

.progress-atribut  {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.progress-parent {
		flex: 0 0 100%;
		margin-right: auto;
		@include breakpoint-down(md) {
			flex: 0 0 100%;
		}
	}
	@include breakpoint-down(sm) {
		h2 {
			font-size: 16px;
		 }
	}
	.progress-data-sheet {
		display: flex;
		float: none !important;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		@include breakpoint-down(sm) {
			//margin-left: 20px;
			//display: block !important;
		}
		.progress-time-line {
			flex:0 0 100px;
			height: 100%;
			max-height: 300px;
			display: flex;
			padding: 15px;
			flex-direction: column;
			@include breakpoint-down(sm) {
				padding: 5px 15px 5px 15px;

			}
		}
		.progress-comp {
			flex:0 0 calc(100% - 100px);
			margin-right: auto;
			padding:15px;

			border-left: 1px solid var(--secondary);
			@include breakpoint-down(sm) {
				border-left: unset;
				padding-top: 0px;
				border-top: 1px solid var(--secondary);
				p {
					padding-top: 5px;
				}
			}

		}
		ul  {
			margin-right: auto;
			list-style:none;
			li {
				width: 100%;
				float: none;
				clear: both;
				position: relative;
				&:not(:last-child) {
					&:after {
						content: "";
						height: 100%;
						width: 2px;
						background-color: #F1DDCE;
						position: absolute;
						left: 14px;
						top: 45px;
						display: block;
						@include breakpoint-down(sm) {
							top: 60px;
						}
					}
				}
				&:not(:first-child) {
					&:before {
						content: "";
						height: 70px;
						width: 2px;
						background-color: #F1DDCE;
						position: absolute;
						left: 14px;
						top: -40px;
						display: block;
						@include breakpoint-down(sm) {
							top: -20px;
						}
					}
				}
				//&:not(:first-child) {
					padding-top: 15px;
					overflow: hidden;

				//} 
				max-width: 700px;
				.progress-note {
					width: 100px;
					float: left;
					display: block;
					@include breakpoint-down(sm) {
						width: 50px;
						top: 30px;
						position: relative;
					}
					span {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 30px;
						width: 30px;
						position: relative;
						z-index: 99;
						flex-direction: column;
						border-radius: 100%;
						background-color: var(--primary);
						&:after {
							content: "";
							display: block;
							position: absolute;
							height: 15px;
							width: 15px;
							border-radius: 100%;
							background-color: var(--white);
						}
					}
				}
				.progress-data {
					width: calc(100% - 100px);
					//padding: 15px;
					border-radius: 10px;
					float: left;
					@include breakpoint-down(sm) {
						width: calc(100% - 50px);
						margin-left: 50px;
					}
					background-color: var(--white);
					.prgress-image {
						.image-data {
							&:not(:first-child) {
								margin-left: 10px;
							}
						}
						img {
							max-height: 100px;
							max-width: 100px;
							object-fit:cover;
							background-color: var(--secondary);
							border-radius: 5px;
						}
					}
				}
			}
		}
	}
}


/**
** handlig  notifivation
**/
.get-notif-chain {
	margin-top: -20px;
}

.notif-row  {
	justify-content: center;
	flex-wrap: wrap;
	@include breakpoint-down(sm) { 
	 h3 {
	 	font-size: 16px;
	 }
	 h4 {
	 	font-size: 14px;
	 }
	 p {
	 	font-size:13px;
	 }
	}
	.notif-timeline {
		align-items: center;
		flex: 0 0 150px;
		flex-direction: column;
		align-items: center;
		flex-direction: column;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-right: 1px solid var(--secondary);
		@include breakpoint-down(sm) {
			.floating-notif {
				flex-direction: unset;
				justify-content: unset;
				display: block;
				* {
					float: left;
				}
				p {
					font-size: 14px;
					padding-left: 5px;
				}
			}
			flex: 0 0  100%;
			border-right: unset;
			border-bottom: 1px solid var(--secondary);
		}

	}
	.notif-description {
		//width: calc(100% - 150px);
		flex: 0 0 calc(100% - 150px);
		@include breakpoint-down(sm) {
			flex: 0 0  100%;
		}
	}
}
.update-progress-pop {
	overflow:hidden;
	.update-image {
		width: 200px;
		height: 200px;
		float: left;
		@include breakpoint-down(md) {
			width: 100%;
			height: unset;
		} 
		label {
			height: 200px;
			width: 200px;
			display: flex;
			position: relative;
			overflow:hidden;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			justify-content: center;
			background-color: var(--secondary);
			background-image: url(../images/icons/icon-camera-white.svg);
		    background-size: 50px;
		    background-position: center;
		    background-repeat: no-repeat;
		    @include breakpoint-down(md) {
				width: 100%;
				height: 100%;
				min-height: 300px;
				max-height: 400px;
			} 
			&:after {
				height: calc(100% - 20px);
				width: calc(100% - 20px);
				display: block;
				content: "";
				position: absolute;
				border:1px dashed var(--white-dark);
			}
			img {
				height: calc(100% - 20px);
				width: calc(100% - 20px);
				object-fit: cover;
				object-position: center;
				position: absolute;
			}
			input {
				opacity: 0;
			}
		}
	}
	.update-desc {
		padding-left: 20px;
		width: calc(100% - 200px);
		float: left;
		@include breakpoint-down(md) { 
			width: 100%;
			padding-left: 0px ;
			//padding-bottom: 50px;
			//padding-right: 20px;
		}
	}
}

.ignitor {
	@include breakpoint-down(md) {
		display: block !important;
	}
}

.publish-parent {
	padding-bottom: 40px;
	overflow:hidden;
	clear: both;
	.publish-side {
		width: 300px;
		float: left;
		background-color: var(--white);
		overflow:hidden;
		border-radius: 5px;
		@include breakpoint-down(lg) {
			width: 100%;
			margin-bottom: 20px;
		}
		.spacer {
			padding: 15px;
			clear: both;
			overflow:hidden;
			ul {
				li {
					padding-top:0px;
					overflow:hidden;
					list-style: none;
					clear: both;
					width: 100%;
					display: block;
					a {
						display: block;
						width: 100%;
						padding: 7px 0px;
						overflow:hidden;
						text-decoration: none;
						&:not(.clr) {
							color: var(--white-dark);
						}
					}
					&.active a {
						color: var(--primary);
						font-weight: 600;
					}
				}
			}
		}
	}
	.publish-data {
		padding-left: 20px;
		width: calc(100% - 300px);
		float:left;
		@include breakpoint-down(lg) {
			width: 100%;
			padding-left: 0px;
		}
	}
}
.engege {
	margin-left: -10px;
	margin-right: -10px;
}
.publish-list-end {
	border-radius: 10px;
	background-color: var(--white);
	overflow:hidden;
	margin-top: 15px;
	position: relative;
	top:0px;
	transition: .2s ease;
	&:hover {
		top: -5px;
	}
	h3 {
		font-family: volkov;
		font-size: 18px;
		font-weight: 450;
	}
	.publish-row {
		display: flex;
		min-height: 250px;
		justify-content: center;
		flex-wrap: wrap;
		@include breakpoint-down(sm) {
			flex-wrap: wrap;
			display: block;
			
		}

		.publish-preview {
			flex:0 0  250px;
			max-width: 250px;
			height: 100%;
			
			@include breakpoint-down(sm) {
				flex: 0 0 100%;
				width: 100%;
				max-width: unset;
			}

			img {
				height: 100%;
				object-fit:cover;
			}
		}
		.publish-data {
			padding: 25px;
			display: flex;
			align-items: center;
			min-height: 250px;
			height: 100%;
			justify-content: center;
			flex-direction: column;
			flex: 0 0 calc(100% - 250px);
			max-width: calc(100%  -  250px);
			a:not(.button) {
				width: 100% ;
			}
			@include breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: unset;
			}
		}
	}
}

.bid-note  {
	width: 100px;
	p {
		font-weight: 600;
	}
}
.bid-symbol {
	width: 20px;
}
.bid-data  {
	width: calc(100% - 130px);
}


.notif-row-parent {
	width: 100%;
	.notif-edge {
		background-color: var(--white);
		position: relative;
		transition: .2s ease;
		&:hover {
			box-shadow: 0px 1px 20px 0px rgba(0,0,0,.1);
			z-index: 9;
			*:not(.descr) {
				color: var(--primary) !important;
			}
			.descr {
				color: var(--white-dark) !important;
			}
		}
	}
	.page-notif-user  {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}

	
	.notif-list-data {
		display: flex;
		overflow:hidden;
		justify-content: center;
		flex-wrap: wrap;
		border-bottom: 1px solid var(--secondary);

		.notif-type {
			flex:0 0  180px;
			max-width: 180px;
			height: 100%;
			align-items: center;
			@include breakpoint-down(sm) {
				&:not(.forever) {
					display: none  !important;
				}
				h3 {
					font-size: 16px;
				}
				&.forever {
					flex:0 0  120px;
					max-width: 120px;
				}
			}
		}
		.notif-data {
			border-left: 1px solid var(--secondary);
			border-right: 1px solid var(--secondary);
			padding: 10px 10px;
			flex: 0 0  calc(100% - 270px);
			max-width: calc(100% - 270px);
			display: flex;
			justify-content: center;
			height: 100%;
			overflow:hidden;
			@include breakpoint-down(sm) {
				flex: 0 0 calc(100% - 90px);
				max-width: calc(100% - 90px);
				border-left: unset !important;
				&.forever {
					flex:0 0  calc(100% - 210px);
					max-width: calc(100% - 210px);
				}
			}
			.utc-data {
				font-size: 14px;
				padding-right: 10px;
			}
			
		}
		.notif-time {
			flex:0 0 90px;
			max-width: 90px;
			height: 100%;
			align-items: center;
			h3 {
				font-size: 14px;
			}
		}
	}
}

.saldo-opponent {
	.parent-saldo {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px 20px ;
	}	
	.saldo-data {
		flex: 0 0 50%;
		max-width: 50%;
		@include breakpoint-down(md) {
			max-width: 100%;
			flex:  0 0 100%;
		}
	}
	.saldo-action {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 15px;
		@include breakpoint-down(md) {
			max-width: 100%;
			flex:  0 0 100%;
			padding-top: 20px;
			padding-left: 0px;
		}
	}
	.active-saldo {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 2px solid var(--primary);
	}
}