/**
** this for first setup
**/
/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
:root {
  --body-color:  #fdf3ee;
}

@media screen and (max-width: 768px) {
  .title-collapsing {
    padding-bottom: 30px !important;
  }
}

.blog-pop {
  width: 70%;
  float: left;
}

@media screen and (max-width: 768px) {
  .blog-pop {
    width: 100% !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

.blog-pop.any {
  width: 75%;
}

.blog-pop.any .blog-news {
  max-height: 307px;
}

.blog-pop.any .blog-news .blog-parot-text {
  height: 100% !important;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: justify;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px !important;
  width: 100% !important;
}

.blog-pop .blog-news {
  max-height: 440px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.blog-pop .blog-news img {
  width: 100%;
  height: 100%;
}

.blog-pop .blog-parot-text {
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  padding: 20px;
  z-index: 2;
  bottom: 0;
}

.blog-pop .blog-parot-text p {
  max-height: 70px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.blog-view {
  width: 30%;
  float: left;
}

@media screen and (max-width: 768px) {
  .blog-view {
    width: 100% !important;
  }
  .blog-view .spaccer {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .blog-view .blog-list {
    padding-left: 0px !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.blog-view.any {
  width: 25%;
}

.blog-view p {
  max-height: 120px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .form-search-blog {
    width: 100%;
    padding-right: 0px !important;
  }
  .form-search-blog .form-search-header {
    max-width: unset !important;
  }
}

@media screen and (max-width: 550px) {
  .block-comments {
    padding-top: 30px !important;
  }
}

@media screen and (max-width: 550px) {
  .blog-list-all {
    overflow: hidden;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .blog-list-all .blog-list:first-child {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  .blog-list-all .blog-list:first-child {
    display: block !important;
  }
}

.blog-banner {
  max-height: 450px;
  overflow: hidden;
}

.blog-banner img {
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog-data {
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width: 768px) {
  .blog-data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.blog-data.blog-content p {
  color: #333 !important;
}

@media screen and (min-width: 769px) {
  .blog-data.blog-content p {
    font-size: 14px;
  }
}

.blog-node {
  width: 100%;
  background-color: rgba(193, 137, 81, 0.1);
  border-left: 3px solid #C18951;
}

.block-bg-dark .comment-parent-list, .block-bg-dark .create-comment-sub {
  background-color: var(--white);
}

.parent-scrollable {
  max-height: 700px;
}

.block-share {
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 9;
  padding-bottom: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media screen and (min-width: 769px) {
  .block-share.active {
    background-color: var(--white);
    position: fixed !important;
    border-radius: 5px;
    overflow: hidden;
    left: 80px;
    -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  }
}

@media screen and (max-width: 768px) {
  .block-share {
    overflow: hidden !important;
    position: static !important;
    top: 0px !important;
    left: 0px !important;
  }
}

@media screen and (min-width: 769px) {
  .block-share {
    width: 50px;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .block-share button {
    padding-top: 10px;
    width: 100%;
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
