/**
** this for first setup
**/
/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
:root {
  --body-color:  #fdf3ee;
}

/**
** page products
**/
.side-nav {
  width: 260px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--secondary);
}

@media screen and (max-width: 980px) {
  .side-nav {
    display: none !important;
  }
}

.side-content {
  width: calc(100% - 260px);
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: unset;
}

@media screen and (max-width: 980px) {
  .side-content {
    width: 100%;
    padding-left: 0px;
  }
}

.side-content.product-whistlist {
  width: 100% !important;
  padding-left: 0px !important;
}

.side-content.product-whistlist .list-of-product:not(.forever) {
  /*
			@include breakpoint(md) {
				&:last-child  , &:first-child {
					display: none !important;
				}
			}
			@include breakpoint-down(md) {
				width: 33.33% !important;
				&:last-child  {
					display: block !important;
				}
				&:first-child {
					display: none !important;
				}
			 }
			 @include breakpoint-down(sm) {
				width: 50% !important;
				&:first-child {
					display: block !important;
				}
				
			 }
			  @include breakpoint-down(xs) {
				width: 100% !important;
			 }
			 */
}

.product-side-nav {
  padding-top: 10px;
}

.product-side-nav .product-side-nav-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-side-nav .product-side-nav-list.active a {
  font-family: opensans-bold;
  color: var(--primary);
}

.product-side-nav .product-side-nav-list a {
  text-decoration: none;
  color: var(--white-dark);
}

.carousel-promote {
  width: calc(100% - 200px);
  float: left;
}

@media screen and (max-width: 768px) {
  .carousel-promote {
    width: 100% !important;
    position: relative;
    z-index: 99;
  }
}

.carousel-promote img {
  min-height: 320px;
  max-height: 320px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left center;
  object-position: left center;
}

@media screen and (max-width: 550px) {
  .carousel-promote img {
    max-height: 250px;
    min-height: 250px;
  }
}

@media screen and (max-width: 380px) {
  .carousel-promote img {
    max-height: 200px !important;
    min-height: 200px !important;
  }
}

.carousel-content-nav {
  width: 200px !important;
  float: left !important;
  overflow: hidden !important;
  min-height: 320px !important;
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

@media screen and (max-width: 768px) {
  .carousel-content-nav {
    position: absolute;
    right: 0;
    z-index: 999;
    opacity: .7;
    top: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .carousel-content-nav:hover {
    opacity: .9;
  }
}

@media screen and (max-width: 550px) {
  .carousel-content-nav {
    max-height: 250px !important;
    min-height: 250px !important;
    width: 150px !important;
  }
}

@media screen and (max-width: 380px) {
  .carousel-content-nav {
    max-height: 200px !important;
    min-height: 200px !important;
  }
}

.navigate-carousel:hover span, .navigate-carousel:hover span:before, .navigate-carousel:hover span:after {
  background-color: var(--white) !important;
}

.nav-carousel-nav {
  width: 100%;
  min-width: 200px;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  overflow: hidden;
}

#carousel-promote-dot {
  padding-top: 10px;
}

#carousel-promote-dot .slick-dots {
  list-style: none;
  width: 100%;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 20px;
}

#carousel-promote-dot .slick-dots li {
  margin-left: 3px;
  margin-right: 3px;
}

#carousel-promote-dot .slick-dots li.slick-active button {
  background-color: var(--white);
}

#carousel-promote-dot .slick-dots button {
  color: var(--transparent);
  height: 11px;
  width: 11px;
  display: block;
  font-size: 0px;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: rgba(255, 255, 255, 0.7);
}

#carousel-promote-dot .slick-dots button:focus {
  outline: 0;
}

#carousel-promote-dot .slick-dots button:hover {
  background-color: var(--white) !important;
}

.disc-promote {
  display: none !important;
  overflow: hidden !important;
  height: 0px !important;
  overflow: hidden !important;
  padding: 0px !important;
}

.promotion-interfaces {
  height: 100px;
  min-height: 130px;
  width: 100%;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  overflow: hidden;
}

.promotion-interfaces > * {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -webkit-animation-name: keypromote;
  animation-name: keypromote;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  position: relative;
}

@-webkit-keyframes keypromote {
  0% {
    opacity: 0;
    left: -200px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes keypromote {
  0% {
    opacity: 0;
    left: -200px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

.block-selector {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  clear: both;
  min-height: 60px;
  border-radius: 2px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 550px) {
  .block-selector:not(.forever) {
    display: none !important;
  }
}

.selector-view {
  height: 25px;
  width: 45px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}

.selector-view img {
  position: absolute;
  opacity: 0;
}

.selector-view img.for-inactive {
  opacity: 1;
}

.selector-view.active img.for-inactive {
  opacity: 0 !important;
}

.selector-view.active img.inactive {
  opacity: 1 !important;
}

.dropdown-selector-type:before {
  z-index: 99;
  right: 10px !important;
}

.dropdown-selector-type .dropdown-trigger {
  background-color: var(--secondary);
  padding: 5px 25px;
  padding-right: 35px !important;
  border-radius: 50px;
}

/**
** handle lost products
**/
@media screen and (max-width: 768px) {
  .product-page .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.product-page .descr {
  height: 0px !important;
  display: none;
  margin-top: 20px;
  color: var(--dark);
  overflow: hidden;
}

.product-page .list-of-product {
  width: 25% !important;
}

@media screen and (max-width: 1220px) {
  .product-page .list-of-product {
    width: 33.33% !important;
  }
}

@media screen and (max-width: 1220px) {
  .product-page .list-of-product {
    width: 33.3333% !important;
  }
}

@media screen and (max-width: 980px) {
  .product-page .list-of-product {
    width: 25%;
  }
  .product-page .list-of-product:nth-child(5n+1) {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .product-page .list-of-product {
    width: 50%;
  }
  .product-page .list-of-product:nth-child(4n+1), .product-page .list-of-product:nth-child(2n+1) {
    display: block !important;
  }
}

@media screen and (max-width: 550px) {
  .product-page .list-of-product {
    width: 100% !important;
  }
}

.product-page .list-of-product .product-header {
  padding: 0 !important;
  max-height: 230px !important;
}

.product-page .list-of-product .product-header .popover-static {
  right: 10px !important;
  bottom: 100px !important;
}

.product-page .list-of-product .product-header .role-badge {
  top: 10px !important;
  left: 10px !important;
}

.over-popover {
  padding-left: 7px !important;
  padding-right: 0px !important;
}

.side-content .dropdown-menu-parent {
  z-index: 9999 !important;
}

.side-gird .list-of-product {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.product-list {
  margin-top: 0px !important;
  margin-left: -10px;
  margin-right: -10px;
}

.show-on-list {
  display: none !important;
}

@media screen and (min-width: 420px) {
  .side-list .list-of-product {
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    width: 100% !important;
    /*
		&:nth-child(2n + 1) {
			display: none;
		}*/
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .side-list .list-of-product {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (min-width: 420px) {
  .side-list .list-of-product .show-on-list {
    display: block !important;
  }
  .side-list .list-of-product .popover-static {
    display: none !important;
  }
  .side-list .list-of-product .spacer-parent {
    clear: both;
    overflow: hidden;
  }
  .side-list .list-of-product .spacer-parent .product-header {
    width: 250px !important;
    height: 250px !important;
    float: left;
  }
  .side-list .list-of-product .spacer-parent .product-footer {
    float: left;
    width: calc(100% - 250px) !important;
  }
  .side-list .list-of-product .spacer-parent .product-footer .popover-static {
    margin-top: 15px;
    display: block !important;
    position: static !important;
    opacity: 1 !important;
    max-width: 138px;
    width: 100%;
    height: 40px;
  }
  .side-list .list-of-product .spacer-parent .product-footer .popover-static:hover {
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.09);
  }
  .side-list .list-of-product .spacer-parent .product-footer .popover-static .list-item {
    clear: unset !important;
    border-top: unset !important;
    width: 40px !important;
    float: left !important;
    height: 25px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
  .side-list .list-of-product .spacer-parent .product-footer .popover-static .list-item:not(:first-child) {
    border-left: 1px solid var(--white);
  }
  .side-list .list-of-product .spacer-parent .product-footer .popover-static .list-item .over-popover {
    opacity: 0 !important;
    display: none !important;
  }
  .side-list .list-of-product .spacer-parent .descr {
    height: auto !important;
    display: block;
    overflow: unset;
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
  }
}

.range-input-parent-provider .range-input-list.range-input-minimum {
  float: left;
}

.range-input-parent-provider .range-input-list.range-input-maximum {
  float: right;
}

.range-input-parent-provider .ui-slider-handle {
  height: 22px !important;
  border-radius: 100%;
  background-color: var(--primary);
  border: 0 !important;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 22px !important;
  border: 0;
  cursor: pointer;
  top: -7px;
}

.range-input-parent-provider .ui-slider-handle:focus {
  outline: 0;
}

.range-input-parent-provider .ui-slider-handle:after {
  height: 10px;
  width: 10px;
  content: "";
  background-color: var(--white);
  border-radius: 100%;
}

.range-input-parent-provider .ui-slider {
  height: 7px !important;
  border-radius: 20px;
  background-color: #D8D8D8;
  border: 0 !important;
  cursor: pointer;
}

.range-input-parent-provider .ui-slider-range {
  background-color: var(--primary) !important;
}

.sorter-list-parent .sorter-list {
  width: 100%;
  display: block;
  margin-top: 15px;
  border: 1px solid var(--secondary);
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  top: 0px;
}

.sorter-list-parent .sorter-list:first-child {
  margin-top: 0px;
}

.sorter-list-parent .sorter-list:hover {
  top: -3px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.04);
}

.sorter-list-parent .sorter-list .product-image {
  width: 90px;
  height: 90px;
  float: left;
}

.sorter-list-parent .sorter-list .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sorter-list-parent .sorter-list .product-desc {
  float: left;
  width: calc(100% - 90px);
}

@media screen and (min-width: 420px) {
  .viewer-stator h4 {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .viewer-stator:not(.forever) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .viewer-object {
    width: 100%;
  }
  .viewer-object .selector-view {
    float: right !important;
  }
  .viewer-object .selector-view:last-child {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .viewer-object .selector-view:first-child {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media screen and (max-width: 550px) {
  .paginator-parent {
    padding-bottom: 30px !important;
    padding-top: 20px !important;
  }
}

.product-view-descr {
  border: 1px solid var(--secondary);
}

.product-view-descr .loved-trigger {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
}

.product-view-descr .preview-image {
  min-height: 400px;
  max-height: 400px;
  position: relative;
  background-color: #D8D8D8;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.product-view-descr .preview-image img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-animation-name: image-fade;
  animation-name: image-fade;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media screen and (max-width: 550px) {
  .product-view-descr .preview-image {
    min-height: 300px !important;
    max-height: 300px !important;
  }
}

.product-view-descr .preview-previewer {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.product-view-descr .preview-previewer .list {
  height: 70px;
  width: 70px;
  float: left;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

@media screen and (max-width: 550px) {
  .product-view-descr .preview-previewer .list {
    height: 50px;
    width: 50px;
  }
}

.product-view-descr .preview-previewer .list.active, .product-view-descr .preview-previewer .list:hover {
  opacity: 1;
  border: 2px solid var(--primary);
}

.product-view-descr .preview-previewer .list img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .product-view-descr .model-popup-cart-up {
    width: 100%;
  }
  .product-view-descr .model-popup-cart-up:last-child {
    width: 100%;
    padding-top: 30px;
    padding-left: 0px !important;
  }
  .product-view-descr .button-cart-mode {
    width: 200px;
  }
  .product-view-descr .open-popup {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 549px) {
  .product-view-descr .button-cart-mode {
    width: 100%  !important;
  }
  .product-view-descr .button-cart-mode:last-child {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@-webkit-keyframes image-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.view-parent-product {
  width: 100%;
  clear: both;
}

.view-parent-product .view-product-detail {
  width: calc(100% - 265px);
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .view-parent-product .view-product-detail {
    width: 100% !important;
  }
}

.view-parent-product .view-product-owner {
  width: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  background-color: var(--white);
  border: 2px solid var(--secondary);
  float: left;
}

@media screen and (max-width: 980px) {
  .view-parent-product .view-product-owner {
    width: 100%;
    margin-left: 0px;
  }
}

.view-parent-product .view-product-owner .owner-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  max-height: 100px;
  min-height: 100px;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/backgrounds/market-bg.png);
}

@media screen and (max-width: 980px) {
  .view-parent-product .view-product-owner .owner-header {
    min-height: 150px;
    max-height: 150px;
  }
}

.view-parent-product .view-product-owner .owner-header a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  top: 60px;
  margin: 0 auto;
  width: 70px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin-bottom: 45px;
}

@media screen and (max-width: 980px) {
  .view-parent-product .view-product-owner .owner-header a {
    top: 120px !important;
  }
}

.view-parent-product .view-product-owner .owner-header a img {
  border-radius: 100%;
}

.view-parent-product .view-product-owner .owner-header a:hover {
  top: 55px;
}

.view-parent-product .view-product-owner .owner-header a:hover .seller-image {
  -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.view-parent-product .view-product-owner .owner-header a .seller-image {
  height: 70px;
  width: 70px;
}

.view-parent-product .view-product-owner .owner-header a .verify-seller {
  position: absolute;
  bottom: -15px;
  right: 0;
}

@media screen and (max-width: 980px) {
  .send-message-seller {
    padding-top: 20px;
    max-width: 250px;
    margin: 0 auto;
  }
  .send-message-seller.flow {
    display: none;
  }
}

.send-message-seller .button-message {
  float: left;
  width: calc(100% - 45px);
  font-weight: bold;
}

.send-message-seller .button-favorit {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  float: left;
  padding: 5px !important;
}

.send-message-seller .button-favorit:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.send-message-seller .button-favorit img {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 15px;
}

.tabs {
  overflow: hidden;
}

.tabs.tabs-view-user.tabs-product {
  overflow: unset !important;
}

.tabs.tabs-view-user.tabs-product ul li .button-tabs:after {
  position: relative;
  top: 10px;
}

.tabs ul {
  list-style: none;
}

.tabs ul li {
  float: left;
}

.tabs ul li:not(:first-child) {
  padding-left: 30px;
}

.tabs ul li .button-tabs {
  font-size: 16px;
  border: 0;
  cursor: pointer;
  background-color: var(--transparent);
  color: var(--white-dark);
}

.tabs ul li .button-tabs:focus {
  outline: 0;
}

.tabs ul li .button-tabs.active {
  color: var(--primary) !important;
}

.tabs ul li .button-tabs.active:after {
  opacity: 1;
}

.tabs ul li .button-tabs:after {
  height: 2px;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  display: block;
  content: "";
  background-color: var(--primary);
  position: relative;
}

.tabs-view-pager {
  overflow: hidden;
}

.tabs-view-pager .parent-scrollable {
  max-height: 500px;
  overflow-y: auto !important;
}

.content-tabs {
  display: none;
  padding-top: 0px;
}

.content-tabs.seller-review {
  max-width: 1000px !important;
}

.content-tabs.active {
  display: block;
}

.comment-parent-list {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.comment-parent-list:hover {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: var(--secondary);
}

.comment-parent-list:hover .end-right-button {
  opacity: 1;
}

.comment-parent-list.sub {
  width: calc(100% - 30px) !important;
  margin-left: 30px;
  margin-top: 10px;
}

.comment-parent-list.sub .comments-user {
  width: 40px;
}

.comment-parent-list.sub .comments-user img {
  width: 40px !important;
  height: 40px !important;
}

.comment-parent-list.sub .comment-desc {
  height: 40px !important;
}

.comment-parent-list .comment-list .comments-user {
  width: 60px;
  float: left;
}

.comment-parent-list .comment-list .comments-user h3 {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-parent-list .comment-list .comments-user img {
  border-radius: 100%;
  height: 50px;
}

.comment-parent-list .comment-list .comment-desc {
  height: 60px;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  float: left;
  width: calc(100% - 70px);
}

@media screen and (max-width: 550px) {
  .comment-parent-list .comment-list .comment-desc {
    height: 50px !important;
  }
}

.comment-parent-list .comment-list .comments-descr {
  width: 100%;
  clear: both;
}

.comment-parent-list .preview-me {
  right: 15px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border: 0;
  cursor: pointer;
  background-color: var(--transparent);
}

.comment-parent-list .preview-me:focus {
  outline: 0;
}

.comment-parent-list .end-right-button {
  position: absolute;
  right: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  top: 0;
  padding: 15px;
  opacity: .2;
}

.comment-parent-list .end-right-button button {
  border: 0;
  cursor: pointer;
  background-color: var(--transparent);
}

.comment-parent-list .end-right-button button:focus {
  outline: 0;
}

@media screen and (max-width: 550px) {
  .comment-parent-list .end-right-button {
    position: static !important;
    width: 100% !important;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .comment-parent-list .end-right-button > *:first-child {
    margin-left: auto;
  }
}

.insub-parent-object {
  overflow-y: hidden;
  max-height: 0px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.insub-parent-object.active {
  max-height: 400px;
  overflow-y: auto !important;
}

.create-comment-sub {
  width: calc(100% - 30px);
  margin-left: 30px;
}

.create-comment-sub textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 10px;
  resize: none;
  color: var(--white-dark);
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.create-comment-sub textarea::-webkit-input-placeholder {
  color: var(--white-dark);
}

.create-comment-sub textarea::-moz-placeholder {
  color: var(--white-dark);
}

.create-comment-sub textarea:-ms-input-placeholder {
  color: var(--white-dark);
}

.create-comment-sub textarea:-moz-placeholder {
  color: var(--white-dark);
}

.create-comment-sub textarea:focus {
  border-color: var(--primary);
}

.create-comment .comment-form textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 10px;
  resize: none;
  color: var(--white-dark);
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.create-comment .comment-form textarea::-webkit-input-placeholder {
  color: var(--white-dark);
}

.create-comment .comment-form textarea::-moz-placeholder {
  color: var(--white-dark);
}

.create-comment .comment-form textarea:-ms-input-placeholder {
  color: var(--white-dark);
}

.create-comment .comment-form textarea:-moz-placeholder {
  color: var(--white-dark);
}

.create-comment .comment-form textarea:focus {
  border-color: var(--primary);
}

.any-product.product-semi-page .list-of-product {
  width: 20% !important;
}

@media screen and (max-width: 980px) {
  .any-product.product-semi-page .list-of-product {
    width: 25% !important;
  }
}

@media screen and (max-width: 768px) {
  .any-product.product-semi-page .list-of-product {
    width: 50% !important;
  }
}

.title-collapsing .any-title {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  display: block;
  font-size: 18px;
}

.title-collapsing .line-w {
  float: left;
  width: calc(100%  - 220px);
}

.title-collapsing .line-w .spaning-line {
  height: 2px;
  width: 100%;
  display: block;
  background-color: var(--primary);
  margin-top: 22px;
}

.clock-content-report-any textarea {
  border: 1px solid rgba(0, 0, 0, 0.09);
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 10px;
  resize: none;
  color: var(--white-dark);
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clock-content-report-any textarea::-webkit-input-placeholder {
  color: var(--white-dark);
}

.clock-content-report-any textarea::-moz-placeholder {
  color: var(--white-dark);
}

.clock-content-report-any textarea:-ms-input-placeholder {
  color: var(--white-dark);
}

.clock-content-report-any textarea:-moz-placeholder {
  color: var(--white-dark);
}

.clock-content-report-any textarea:focus {
  border-color: var(--primary);
}

.seller-parent-data .seller-banner {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@media screen and (max-width: 980px) {
  .seller-parent-data .seller-banner {
    min-height: 200px;
  }
}

.seller-parent-data .seller-banner img {
  height: 100%;
  min-height: 250px;
  width: 100%;
}

@media screen and (max-width: 980px) {
  .seller-parent-data .seller-banner img {
    min-height: 200px;
  }
}

.seller-parent-data .seller-profile {
  position: relative;
  margin-top: -60px;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .seller-parent-data .seller-profile {
    padding: 0px 0px !important;
  }
}

.seller-parent-data .seller-profile .seller-data {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .seller-parent-data .seller-profile .seller-data {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-bottom: 20px;
  }
}

.seller-parent-data .seller-profile .seller-data .seller-image {
  width: 120px;
  min-height: 130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .seller-parent-data .seller-profile .seller-data .seller-image {
    width: 100% !important;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 120px;
    float: none !important;
  }
}

.seller-parent-data .seller-profile .seller-data .seller-image img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.seller-parent-data .seller-profile .seller-data .seller-desc {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  width: calc(100% - 120px);
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 120px;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .seller-parent-data .seller-profile .seller-data .seller-desc {
    width: 100% !important;
  }
}

@media screen and (max-width: 980px) {
  .seller-parent-data .seller-profile .seller-data .seller-desc {
    min-height: unset !important;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
  }
  .seller-parent-data .seller-profile .seller-data .seller-desc .seller-name {
    margin: 0 auto !important;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .seller-parent-data .seller-profile .seller-data .seller-desc h2 {
    color: var(--white-dark) !important;
  }
}

.seller-parent-data .seller-profile .seller-data .seller-desc .seller-text {
  max-width: 600px;
}

.seller-report {
  position: absolute;
  top: 70px;
  right: 15px;
  display: block;
}

@media screen and (max-width: 768px) {
  .seller-report {
    top: -140px;
  }
}

.seller-action {
  max-width: 500px;
}

.blog-list-all {
  margin-left: -15px;
  margin-right: -15px;
}

.blog-list-all .card-header img:not(.draft-3d) {
  min-height: 300px !important;
  max-height: 300px !important;
}

.blog-list-all .blog-list {
  width: 33.33% !important;
}

@media screen and (max-width: 768px) {
  .blog-list-all .blog-list {
    width: 50% !important;
  }
}

@media screen and (max-width: 550px) {
  .blog-list-all .blog-list {
    width: 100% !important;
  }
}

.blog-list-all .validator-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.blog-list-all .validator-checkbox .canvas {
  background-color: var(--white);
  border: unset !important;
}

.cart-parent {
  padding-bottom: 50px;
  overflow: hidden;
}

.cart-parent .cart-content {
  width: calc(100%  - 300px);
  float: left;
}

@media screen and (max-width: 980px) {
  .cart-parent .cart-content {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  .cart-parent .cart-content {
    padding-right: 15px;
  }
}

.cart-parent .card-side {
  width: 300px;
  float: left;
}

@media screen and (max-width: 980px) {
  .cart-parent .card-side {
    width: 100%;
  }
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  .block-constanta {
    width: calc(50% - 10px);
    float: left;
  }
  .block-constanta:first-child {
    margin-right: 10px;
  }
  .block-constanta:last-child {
    margin-top: 0px;
    margin-left: 10px;
  }
}

.form-coupon input {
  outline: none;
  border: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--secondary);
  font-size: 14px;
  color: var(--white-dark);
}

@media screen and (max-width: 550px) {
  .item-colaborator {
    display: block !important;
  }
  .item-colaborator .loved-trigger {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

.product-opponent-data {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.product-opponent-data .product-image {
  height: 100px;
  width: 100px;
  background-color: var(--secondary);
}

@media screen and (max-width: 550px) {
  .product-opponent-data .product-image {
    width: 100%;
    height: 200px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .product-opponent-data .product-image img {
    height: auto !important;
    width: auto !important;
    max-height: 100%;
  }
}

.product-opponent-data .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.product-opponent-data .engage-data {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .product-opponent-data .engage-data {
    display: block !important;
    overflow: hidden;
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 550px) {
  .opponent-mghc {
    width: 100%;
    display: block;
    margin-left: 21px;
    max-height: 25px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 550px) {
  .transaction-point .button {
    margin-top: 10px;
    width: 100% !important;
  }
}

.transaction-point .transaction-text {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .transaction-point .transaction-text {
    width: 110px;
    display: block;
  }
}

.transaction-point .transaction-data {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .transaction-point .transaction-data {
    display: block;
    width: calc(100% - 110px);
  }
}

.list-data-transaction {
  min-width: 300px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.list-data-transaction li {
  width: 100%;
  clear: flex;
  position: relative;
  display: block;
  overflow-y: unset;
  padding-top: 15px;
}

.list-data-transaction li:not(:last-child):after {
  height: calc(100% - 35px);
  content: "";
  width: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: -15px;
  z-index: 0;
  left: 16px;
}

.list-data-transaction li .block-name {
  width: 50px;
  float: left;
  position: relative;
  z-index: 9;
}

.list-data-transaction li .block-name .round {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 35px;
  font-size: 16px;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 35px;
  color: var(--primary);
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 100%;
  border: 2px solid var(--primary);
}

.list-data-transaction li .scope {
  overflow: hidden;
}

.list-data-transaction li .block-desc {
  float: left;
  overflow: hidden;
  width: calc(100% - 50px);
}

.list-data-transaction li .block-desc p {
  color: var(--white-dark);
}

/* this handle payment  */
.payment-parent {
  padding-bottom: 100px;
  overflow: hidden;
  clear: both;
}

.payment-parent .payment-side {
  width: 350px;
}

@media screen and (max-width: 980px) {
  .payment-parent .payment-side {
    width: 100%;
    margin-bottom: 20px;
  }
}

.payment-parent .payment-side .blok-accord .accord-list.active .accord-trigger a {
  color: var(--primary);
}

.payment-parent .payment-side .blok-accord .accord-list.active .accord-trigger a:after {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  top: 25px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.payment-parent .payment-side .blok-accord .accord-list.active .accord-data {
  max-height: 600px;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-trigger {
  width: 100%;
  display: block;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-trigger:hover a {
  color: var(--primary);
}

.payment-parent .payment-side .blok-accord .accord-list .accord-trigger a {
  display: block;
  text-decoration: none;
  color: var(--white-dark);
  width: 100%;
  padding: 15px 20px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid var(--secondary);
}

.payment-parent .payment-side .blok-accord .accord-list .accord-trigger a:not(.not-icon):after {
  height: 13px;
  width: 13px;
  content: "";
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: .2s ease;
  transition: .2s ease;
  right: 15px;
  top: 23px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  background-image: url(../images/icons/arrow-down-c.svg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data {
  max-height: 0px;
  overflow-y: hidden;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li {
  border-bottom: 1px solid var(--secondary);
  min-height: 80px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.01);
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  vertical-align: middle;
  position: relative;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li.active h4, .payment-parent .payment-side .blok-accord .accord-list .accord-data ul li.active p, .payment-parent .payment-side .blok-accord .accord-list .accord-data ul li:hover h4, .payment-parent .payment-side .blok-accord .accord-list .accord-data ul li:hover p {
  color: var(--primary) !important;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li .bank-image {
  width: 70px;
  display: block;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  vertical-align: middle;
  position: relative;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li .bank-image img {
  width: 100%;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li .bank-data {
  padding-left: 15px;
  width: calc(100% - 70px);
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li .bank-data h4 {
  color: var(--black);
  font-size: 16px;
  font-weight: 450;
}

.payment-parent .payment-side .blok-accord .accord-list .accord-data ul li .bank-data p {
  margin-top: -2px;
  color: var(--white-dark);
}

.payment-parent .payment-data {
  width: calc(100% - 350px);
  padding-left: 15px;
}

@media screen and (max-width: 980px) {
  .payment-parent .payment-data {
    width: 100%;
    padding-left: 0px;
  }
}

.payment-parent .payment-data .form-overwrite:not(.un) {
  padding-left: 25px;
}

.payment-parent .payment-data .payment-form {
  width: calc(100% - 250px);
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .payment-parent .payment-data .payment-form {
    width: 100% !important;
    padding-left: 20px;
  }
}

.payment-parent .payment-data .payment-info {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .payment-parent .payment-data .payment-info {
    width: 100% !important;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.payment-parent .payment-data .payment-info li {
  padding-left: 10px;
  position: relative;
}

.payment-parent .payment-data .payment-info li:before {
  height: 6px;
  width: 6px;
  display: block;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: var(--primary);
  display: block;
  border-radius: 100%;
}

.box-alert-payment {
  max-width: 500px;
  min-width: 500px;
}

@media screen and (max-width: 550px) {
  .box-alert-payment {
    min-width: unset !important;
  }
}

@media screen and (max-width: 550px) {
  .main-data-box {
    padding-top: 20px !important;
  }
}

.box-o-parent h3 {
  font-size: 16px;
}

.box-o-parent .box-o-title {
  width: 180px;
}

.box-o-parent .box-o-data {
  width: calc(100% - 180px);
}

.timer-interword h1 {
  font-size: 40px;
}

/**
** this handle promotion page
**/
.banner-promo {
  background-image: url(../images/banners/kayuku.png);
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  min-height: 350px;
  background-size: cover;
  background-position: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 20px;
}

.banner-promo .banner-canvas {
  max-width: 700px;
}

.banner-promo .banner-canvas p {
  font-size: 13px;
  opacity: .7;
}

.on-flex-flex {
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 980px) {
  .form-search-promo-forever {
    display: block !important;
  }
  .form-search-promo-forever button {
    margin-top: 5px;
  }
}

@media screen and (max-width: 550px) {
  .form-search-promo-forever-parent {
    width: 100% !important;
    clear: both;
    float: none;
  }
  .form-search-promo-forever-parent:last-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .form-search-promo-forever-master {
    display: block !important;
    overflow: hidden;
  }
  .form-search-promo-forever-master h4 {
    font-size: 16px;
    margin-top: 4px;
  }
  .form-search-promo-forever-master .dropdown-trigger {
    top: 7px !important;
  }
}

.promo-parent h2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.promo-parent .promo-list {
  padding-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 33.333%;
  float: left;
}

@media screen and (max-width: 768px) {
  .promo-parent .promo-list {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .promo-parent .promo-list {
    width: 100%;
  }
}

.promo-parent .promo-flex {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  position: relative;
  top: 0px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.promo-parent .promo-flex:hover {
  top: -5px;
  -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.08);
}

.promo-parent .promo-header img {
  width: 100%;
}

/*  handle popup promotion */
.promo-desc {
  max-height: 140px;
  margin-bottom: 10px;
}

.block-force {
  display: block !important;
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .button-cart-mode {
    width: 100%;
    margin-left: 0px !important;
  }
  .button-cart-mode:last-child {
    margin-top: 15px;
  }
}
