<!DOCTYPE html>
<html lang="en">
	<head>
		@include('layouts.head')
		@!section('meta')
		@!section('css')
		<link rel="stylesheet" type="text/css" href="{{asset('css/component.css')}}">
	</head>
	<body class=" body expan autenticated-auth" id="body">
		@!section('content')
		@!section('component')
	</body>
	<script src="assets/js/jquery.js" type="text/javascript" ></script>
	<script src="assets/js/handlebars.js" type="text/javascript" ></script>
	<script type="text/javascript" src="assets/js/jquery.lazy.js"></script>
	<script type="text/javascript" src="assets/js/public.js"></script>
	@!section('js')
	<script src="assets/js/app.js" type="text/javascript" ></script>
</html>