<!DOCTYPE html>
<html lang="en">
	<head>
		@include('layouts.head')
		@!section('meta')
		@!section('css')
		<link rel="stylesheet" type="text/css" href="{{asset('css/component.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	</head>
	<body class=" body autenticated-auth" id="body">
		<div class="none hidden">
			<img src="assets/images/gif/loader.svg" alt="">
		</div>
		<input type="text" id="url-components" class="url-components">
		<header class="header " id="header">
			<div class="container clear container-header   wd-100">
				<div class="none m-block block border-box pg-t-5">
					<button class="header-trigger">
					<span></span>
					<span></span>
					<span></span>
					</button>
				</div>
				<div class="header-logo ">
					<a href="index.html">
						<img src="assets/images/logo.svg" alt="">
					</a>
				</div>
				<div class="navbar-option mg-r-auto navbar-option-frost ">
					<ul class="list-none mg-r-auto">
						<li class="dropdown dropdown-hover dropdown-click  dropdown-arrow dropdown-list relative  dropdown-menu-onres">
							<a href="#" class="dropdown-trigger dropdown " pageactive="product">{{upperCase('produk')}}</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none overflow-hidden border-dox dropdown-components-assert-data">
								<ul class="dropdown-menu  list-none overflow-hidden border-box  __nav_auto_get">
								</ul>
							</div>
						</li>
						<li ><a pageactive="article" href="article.html?kayuku_param=all">{{upperCase('artikel')}}</a></li>
						<li><a href="promotion.html?kayuku_param=all" pageactive="promo">{{upperCase('Promo')}}</a></li>
						<li><a href="how-it-work.html" pageactive="how-it-work">{{upperCase('cara kerja')}}</a></li>
						<li><a href="chair.html" pageactive="3d">{{upperCase('Rancang Furniture')}}</a></li>
						<li><a pageactive="publish" href="publish.html">{{upperCase('LELANG')}}</a></li>
						<li class="dropdown dropdown-click  dropdow-languange relative dropdown-hover">
							<a href="#" class="dropdown-trigger dropdown pointer">
								<img src="{{asset('images/icons/flags/id.svg')}}" alt="" class="float-left flags">
								<img src="{{asset('images/icons/arrow-down.svg')}}" alt="" class="mg-l-10 flag-change">
							</a>
							<div class="dropdown-after none"></div>
							<div class="dropdown-component dropdown-menu-parent dropdown-menu-onres  none dropdown-flags-over">
								<ul class="dropdown-menu  list-none pg-x-0 border-box overflow-hidden ">
									<li class="dropdown-list border-box pg-y-15 hover-bg-white-grey overflow-hidden clear block  wd-100-p mg-x-0  ">
										<a class="clear wd-100 dropdown pointer" href="index.html" langue-mode="id">
											<div class="float-left wd-50">
												<span class="text-right">{{upperCase('id')}}</span>
											</div>
											<div class="float-left wd-50">
												<img src="{{asset('images/icons/flags/id.svg')}}" alt="" class="flags">
											</div>
										</a>
									</li>
									<li class="pg-x-15 clear border-box inspace background-transparent color-white">
										<div class="clear wd-100 pg-x-5 border-box ">
											<span class="border-flags"></span>
										</div>
									</li>
									<li class="dropdown-list border-box pg-y-15 hover-bg-white-grey overflow-hidden clear block wd-100-p mg-x-0  ">
										<a class="clear wd-100 dropdown pointer" href="index.html"  langue-mode="en">
											<div class="float-left wd-50">
												<span class="text-right">{{upperCase('en')}}</span>
											</div>
											<div class="float-left wd-50">
												<img src="{{asset('images/icons/flags/en.svg')}}" alt="" class="flags">
											</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="header-nav">
					<ul class="header-nav list-none">
						<li class="header-search mg-l-auto t-hidden">
							<form class="clear form-search-header form-false open-popup" data-target="#popup-search" data-focus="#search-obj-data-oncloud">
								<input type="text" placeholder="CARI PRODUK ..." name="key"  class="pointer"  >
								<button class=" pg-r-0 mg-l-auto background-transparent" type="button">
								<img src="{{asset('images/icons/search.svg')}}" alt="">
								</button>
							</form>
						</li>
						<!-- this dropdown user cart -->
						<li class="nav-list float-left none-padding none t-block">
							<a href="#search" class="  pg-x-0 open-popup"  data-target="#popup-search">
								<img src="{{asset('images/icons/icon-search.svg')}}" alt="">
							</a>
						</li>
						<li class="nav-list dropdown  float-left none relative m-block">
							<a href="#" class=" dropdown-trigger text-decoration-none open-popup"  data-target="#popup-cart">
								<img src="{{asset('images/icons/icon-cart.svg')}}" alt="">
								<span class="dropdown-notifier background-primary color-white">2</span>
							</a>
						</li>
							<!--============================================================starinf gropdown notif -->
						<li class="nav-list dropdown dropdown-click dropdown-hover notified float-left relative m-hidden">
							<a href="#" class="dropdown-ultimate-open-cart dropdown-trigger text-decoration-none ">
								<img src="{{asset('images/icons/icon-bell.svg')}}" alt="">
								<span class="dropdown-notifier background-primary color-white">5</span>
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-notif ">
								<div class="dropdown-header wd-100-p pg-x-15 pg-y-10 background-secondary">
									<h3 class="title color-dark font-light">Pemberitahuan</h3>
								</div>
								<ul class="dropdown-menu  list-none scrooled-event">
									
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="transaction.html" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Barang anda telah Di kirim</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Setia abadi mebeul telah mengirimkan pesanan 100 kusi anda</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="message.html?kayuku_message_bind=4" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Pesan Baru</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Setia abadi mebeul  mengirimi anda pesan</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="account.html" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Akun anda di suspend</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Akun adna di suspen karena melakukan pelanggaran</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href=" message.html?kayuku_message_bind=0" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Pesan baru</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Admministrator mengirimkan anda pesan</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="transaction.html" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Barang anda telah Di kirim</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Setia abadi mebeul teleh mengirimkan pesanan 100 kusi anda</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="transaction.html" class="clear text-decoration-none ">
											<div class="notif-name">
												<div class="wd-100-p">
													<h3 class="truncates color-dark ">Barang anda telah Di kirim</h3>
												</div>
												<div class="wd-100-p">
													<p class="truncates color-white-dark">Setia abadi mebeul teleh mengirimkan pesanan 100 kusi anda</p>
												</div>
												<div class="wd-100-p text-align-right on-date">
													<small class="color-white-dark">20 april 2019</small>
												</div>
											</div>
										</a>
									</li>
								</ul>
								<div class="drpodown-footer pg-y-10 border-top-1 border">
									<div class="wd-100-p flex justify-content-center">
										<a href="notification.html" class="button not-transition button-primary rounded-50 color-white pg-x-30">Selengkapnya</a>
									</div>
								</div>
							</div>
						</li>
						<!--============================================================ending gropdown notif -->
						<li class="nav-list dropdown dropdown-click dropdown-hover notified float-left relative m-hidden">
							<a href="#" class="dropdown-ultimate-open-cart dropdown-trigger text-decoration-none ">
								<img src="{{asset('images/icons/icon-cart.svg')}}" alt="">
								<span class="dropdown-notifier background-primary color-white">4</span>
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-cart ">
								<ul class="dropdown-menu  list-none scrooled-event">
									
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="cart.html" class="clear">
											<div class="clear cart-list">
												<div class="float-left cart-image">
													<img src="assets/images/products/ruang_tamu/item-1/uluwatu-side-brown.png" alt="">
												</div>
												<div class="float-left cart-detail pg-l-15">
													<div class="clear wd-100">
														<div class="title-cart">
															<h4 class="light color-dark">Title Cart</h4>
														</div>
														<div class="price-cart">
															<span>
																<strong class="bold color-primary">{{upperCase(env.PRICE)}} 500.000</strong>
															</span>
														</div>
														<div class="price-value">
															<span>
																<strong class="bold color-dark">10</strong>
															</span>
														</div>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear border border-bottom-1 border-secondary ">
										<a href="cart.html" class="clear">
											<div class="clear cart-list">
												<div class="float-left cart-image">
													<img src="assets/images/products/ruang_tamu/item-1/uluwatu-front-brown.png" alt="">
												</div>
												<div class="float-left cart-detail pg-l-15">
													<div class="clear wd-100">
														<div class="title-cart">
															<h4 class="light color-dark">Title Cart</h4>
														</div>
														<div class="price-cart">
															<span>
																<strong class="bold color-primary">{{upperCase(env.PRICE)}} 500.000</strong>
															</span>
														</div>
														<div class="price-value">
															<span>
																<strong class="bold color-dark">10</strong>
															</span>
														</div>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary ">
										<a href="cart.html" class="clear">
											<div class="clear cart-list">
												<div class="float-left cart-image">
													<img src="assets/images/products/ruang_tamu/item-1/uluwatu-front-green.png" alt="">
												</div>
												<div class="float-left cart-detail pg-l-15">
													<div class="clear wd-100">
														<div class="title-cart">
															<h4 class="light color-dark">Title Cart</h4>
														</div>
														<div class="price-cart">
															<span>
																<strong class="bold color-primary">{{upperCase(env.PRICE)}} 500.000</strong>
															</span>
														</div>
														<div class="price-value">
															<span>
																<strong class="bold color-dark">10</strong>
															</span>
														</div>
													</div>
												</div>
											</div>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear  border border-bottom-1 border-secondary">
										<a href="cart.html" class="clear">
											<div class="clear cart-list">
												<div class="float-left cart-image">
													<img src="assets/images/products/ruang_tamu/item-1/uluwatu-front-pink.png" alt="">
												</div>
												<div class="float-left cart-detail pg-l-15">
													<div class="clear wd-100">
														<div class="title-cart">
														<h4 class="light color-dark">Title Cart</h4>
														</div>
														<div class="price-cart">
															<span>
																<strong class="bold color-primary">{{upperCase(env.PRICE)}} 500.000</strong>
															</span>
														</div>
														<div class="price-value">
															<span>
																<strong class="bold color-dark">10</strong>
															</span>
														</div>
													</div>
												</div>
											</div>
										</a>
									</li>
									
								</ul>
								<div class="pg-x-15 clear pg-y-5 pg-t-15">
									<span class="wd-100-p border border-top-1 border-secondary block"></span>
								</div>
								<div class="dropdown-footer clear ">
									<div class="pg-15">
										<a href="cart.html" class="button mg-b-15 border-box  color-primary font-normal text-decoration-none p-5 wd-100-p block rounded-100 center button-line-primary">LIHAT KERANJANG</a>
										<a href="checkout.html" class="button border-box  color-white font-normal text-decoration-none p-5 wd-100-p block rounded-100 center button-primary">CHECKOUT</a>
									</div>
								</div>
							</div>
						</li>
						<!-- this dropdown user market -->
						<li class="nav-list dropdown dropdown-click notified float-left relative dropdown-hover  none  unauthenticated  m-hidden ">
							<a href="#" class="dropdown-trigger text-decoration-none">
								<img src="{{asset('images/icons/icons-market.svg')}}" alt="">
								<span class="dropdown-notifier background-primary color-white ">0</span>
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-market">
								<div class="pg-15">
									<div class="market-bg">
										<div class="pg-15">
											<h4 class="text-left color-primary">Yuk Buat Tokomu Sekarang!</h4>
											<h3 class="text-left mg-t-25 color-white font-weight-semi-bold">Chez 66°Nord, nos guides et organisateurs de</h3>
										</div>
									</div>
								</div>
								<div class="dropdown-footer clear ">
									<div class="pg-15">
										<a href="open-market.html" class="button  color-white font-normal text-decoration-none p-5 wd-100-p border-box block rounded-100 center button-primary">BUKA TOKO</a>
									</div>
								</div>
							</div>
						</li>
						<!-- user have market -->

						<li class="nav-list dropdown dropdown-click notified none  authenticated  float-left relative dropdown-hover  m-hidden ">
							<a href="#" class="dropdown-trigger text-decoration-none">
								<img src="{{asset('images/icons/icons-market.svg')}}" alt="">
								<span class="dropdown-notifier background-primary color-white ">0</span>
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-market have">
								<div class="market-profile background-secondary flex ">
									<div class="border-box pg-10 ">
										<div class="clear">
											<a href="seller.html">
												<div class="float-left profile-piture">
													<img src="{{asset('images/profiles/market.png')}}" class="profile" height="50" alt="">
													<img src="{{asset('images/icons/market-verified.svg')}}" alt="" class="verify">
												</div>
												<div class="float-left profile-text pg-y-15">
													<h4 class="left title color-dark">Setia Abadi Mebeul</h4>
												</div>
											</a>
										</div>
									</div>
								</div>
								<ul class="list-none">
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="market-product-add.html" class="clear text-decoration-none color-white-dark wd-100-p">
											<span class="float-left">TAMBAH PRODUK</span>
											<img src="{{asset('images/icons/add-product.svg')}}" alt="" class="float-right">
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="market-booking-product.html" class="clear text-decoration-none color-white-dark wd-100-p">
											<span class="float-left">PESANAN</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="market-mannage-product.html" class="clear text-decoration-none color-white-dark wd-100-p">
											<span class="float-left">KELOLA PRODUK</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="market-mannage-store.html" class="clear text-decoration-none color-white-dark wd-100-p">
											<span class="float-left">PENGATURAN TOKO</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- navbar dropdiwn user-->
						<li class="nav-list dropdown dropdown-user dropdown-click authenticated none m-hidden notified float-left relative dropdown-hover">
							<a href="#" class="dropdown-trigger text-decoration-none">
								<img src="{{asset('images/profiles/users.png')}}" hight="50" alt="">
								<span class="dropdown-notifier background-primary color-white ">2</span>
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-market have">
								<div class="market-profile background-secondary flex border-bottom-2 border ">
									<div class="border-box pg-10 ">
										<div class="clear">
											<div class="float-left profile-text pg-y-15">
												<h4 class="left title color-dark auth-user">Hello Tofik Hidayat</h4>
											</div>
										</div>
									</div>
								</div>
								<ul class="list-none">
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="account.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">AKUN</span>
										</a>
									</li>
									<li class="dropdown-list pg-15  hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="message.html" class="clear text-decoration-none color-white-dark wd-100-p block relative">
											<span class="float-left">PESAN</span>
											<span class="value-notifier right-0 background-primary overflow-hidden rounded-50 block expanding">2</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="cart.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">PEMBELIAN</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="whistlist.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">WHISTLIST</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="transaction.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">TRANSAKSI</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="user-draft-design.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">DRAF DESAIN</span>
										</a>
									</li>

									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="account.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">PENGATURAN</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey  block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="login.html" class="clear au|th-logout text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">KELUAR</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- unautenticated user -->
						<li class="nav-list dropdown dropdown-user none dropdown-click unauthenticated  m-hidden notified float-left relative dropdown-hover">
							<a href="#" class="dropdown-trigger text-decoration-none">
								<img src="assets/images/icons/icon-user.svg" hight="50" alt="">
							</a>
							<div class="dropdown-after"></div>
							<div class="dropdown-component dropdown-menu-parent none dropdown-market have">
								<ul class="list-none">
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="login.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">LOGIN</span>
										</a>
									</li>
									<li class="dropdown-list pg-15 hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
										<a href="register.html" class="clear text-decoration-none color-white-dark wd-100-p block">
											<span class="float-left">REGISTER</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="heade-apacher"></div>
		<div class="header-nav header-nav-scroll" id="header-scroll" >
			<div class="container">
				<div class="clear none m-block  pg-x-15 pg-t-20 background-secondary  header-nav-res-opt overflow-hidden pg-b-20  ">
					<div class="clear">
						<div class="header-nav-res clear">
							<div class="header-account authenticated none">
								<div class="float-left header-acount-profile">
									<a href="account.html">
										<img src="assets/images/profiles/users.png" alt="">
									</a>
								</div>
								<div class="header-desc float-left pg-l-20">
									<a href="account.html" class="text-decoration-none">
										<h3 class="left color-dark title button-link auth-user">Gunaldi Yunus</h3>
									</a>
									<a href="account.html" class="button-link   pg-x-0 color-white-dark">AKUN</a>
								</div>
							</div>
							<div class="header-account unauthenticated none">
								<div class="float-left header-acount-profile">
									<a href="account.html">
										<img src="assets/images/icons/icon-user.svg" alt="">
									</a>
								</div>
								<div class="header-desc float-left pg-l-20">
									<a href="" class="text-decoration-none">
										<h3 class="left color-dark title button-link auth-user">Guest</h3>
									</a>
									<a href="login.html" class="button-link   pg-x-0 color-white-dark">MASUK</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" navbar-option scrooled-event-on-m">
					<ul class="list-none mg-r-auto">
						<li class="none m-block relative"><a href="account.html" pageactive="account">{{upperCase('Akun ')}}</a></li>
						<li class="none m-block relative"><a href="#" pageactive="notification">{{upperCase('notifikasi')}}<span class="dropdown-notifier-mobile expanding">7</span></a></li>
					</li>
					<li class="dropdown-list pg-15 none m-block hover-bg-white-grey block overflow-hidden clear border-bottom-1 border border-secondary ">
						<a href="message.html" class="clear text-decoration-none color-white-dark wd-100-p block relative">
							<span class="float-left">PESAN</span>
							<span class="value-notifier background-primary overflow-hidden rounded-50 block expanding">2</span>
						</a>
					</li>
					<li class="dropdown dropdown-hover dropdown-click dropdown-arrow dropdown-list relative  dropdown-menu-onres authenticated none m-block  ">
						<a href="#" class="dropdown-trigger dropdown" pageactive="market">{{upperCase('tokoku')}} <span class="dropdown-notifier-mobile">7</span></a>
						<div class="dropdown-after"></div>
						<div class="dropdown-component dropdown-menu-parent none ">
							<ul class="dropdown-menu  list-none">
								<li class="dropdown-list">
									<a href="market-add-product.html" class="dropdown">TAMBAH PRODUK</a>
								</li>
								<li class="dropdown-list">
									<a href="#" class="dropdown">PESANAN <span class="value-notifier">1</span></a>
								</li>
								<li class="dropdown-list">
									<a href="#" class="dropdown">KELOLA PRODUK</a>
								</li>
								<li class="dropdown-list">
									<a href="#" class="dropdown">PENGATURAN TOKO</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="dropdown dropdown-hover dropdown-click dropdown-arrow dropdown-list relative  dropdown-menu-onres none m-block unauthenticated">
						<a href="#" class="dropdown-trigger dropdown">{{upperCase('tokoku')}} <span class="dropdown-notifier-mobile">0</span></a>
						<div class="dropdown-after"></div>
						<div class="dropdown-component dropdown-menu-parent none">
							<ul class="dropdown-menu  list-none">
								<li class="dropdown-list">
									<a href="open-market.html" class="dropdown">BUKA TOKO</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="dropdown dropdown-hover dropdown-click dropdown-arrow dropdown-list relative  dropdown-menu-onres">
						<a href="#" class="dropdown-trigger dropdown" pageactive="product">{{upperCase('produk')}}</a>
						<div class="dropdown-after"></div>
						<div class="dropdown-component dropdown-menu-parent none">
							<ul class="dropdown-menu  list-none overflow-hidden __nav_auto_get">
								
							</ul>
						</div>
					</li>
					<li class="none m-block relative"><a href="cart.html">{{upperCase('keranjang')}}<span class="dropdown-notifier-mobile expanding">7</span></a></li>
					<li><a href="article.html?kayuku_param=all" pageactive="article">{{upperCase('artikel')}}</a></li>
					<li class="none m-block "><a href="user-draft-design.html" pageactive="draft">{{upperCase('draf desain')}}</a></li>
					<li><a href="promotion.html?kayuku_param=all" pageactive="promo">{{upperCase('Promo')}}</a></li>
					<li><a href="how-it-work.html" pageactive="how-it-work">{{upperCase('cara kerja')}}</a></li>
					<li><a href="publish.html" pageactive="publish">{{upperCase('LELANG')}}</a></li>
				</ul>
				<ul class="list-none mg-l-auto">
					<li><a href="chair.html" pageactive="3d">{{upperCase('Rancang Furniture')}}</a></li>
					<li class="dropdown dropdown-click  dropdow-languange dropdown-hover relative dropdown-menu-onres">
						<a href="#" class="dropdown-trigger dropdown pointer">
							<img src="{{asset('images/icons/flags/id.svg')}}" alt="" class="float-left flags">
							<img src="{{asset('images/icons/arrow-down.svg')}}" alt="" class="mg-l-10 flag-change">
						</a>
						<div class="dropdown-after none"></div>
						<div class="dropdown-component dropdown-menu-parent none dropdown-flags-over">
							<ul class="dropdown-menu  list-none pg-x-0 border-box overflow-hidden ">
								<li class="dropdown-list border-box  pg-y-15 hover-bg-white-grey overflow-hidden clear block wd-100-p mg-x-0  ">
									<a class="clear wd-100 dropdown pointer" href="index.html" langue-mode="id">
										<div class="float-left wd-50">
											<span class="text-right">{{upperCase('id')}}</span>
										</div>
										<div class="float-left wd-50">
											<img src="{{asset('images/icons/flags/id.svg')}}" alt="" class="flags">
										</div>
									</a>
								</li>
								<li class="pg-x-15 clear border-box inspace background-transparent color-white">
									<div class="clear wd-100 pg-x-5 border-box ">
										<span class="border-flags"></span>
									</div>
								</li>
								<li class="dropdown-list border-box pg-y-15 hover-bg-white-grey overflow-hidden clear block wd-100-p mg-x-0  ">
									<a class="clear wd-100 dropdown pointer" href="index.html" langue-mode="en">
										<div class="float-left wd-50">
											<span class="text-right">{{upperCase('en')}}</span>
										</div>
										<div class="float-left wd-50">
											<img src="{{asset('images/icons/flags/en.svg')}}" alt="" class="flags">
										</div>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="none m-block dropdown-list"><a href="account.html">{{upperCase('PENGATURAN')}}</a></li>
					<li class="authenticated none m-block dropdown-list "><a href="login.html" class="auth-l|ogout">{{upperCase('keluar')}}</a></li>
					<li class="unauthenticated none m-block  dropdown-list"><a href="login.html" class="">{{upperCase('Masuk')}}</a></li>
					<li class="unauthenticated none m-block  dropdown-list"><a href="login.html" class="">{{upperCase('Daftar')}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main-conten" class=" block">
		@!section('content')
	</div>
	<footer class="footer background-dark-c clear o-hidden " id="footer">
		<div class="container clear footer-nav">
			<div class="footer-nav float-left">
				<div class="wd-100-p clear parent">
					<ul class="footer-list parent-list list-none float-left footer-logo">
						<div class="clear">
							<a href="index.html">
								<img src="assets/images/logo_inverse.svg" class="foter-logo" alt="">
							</a>
						</div>
						<div class="clear">
							<p class="color-white-grey footer-desc">
								jual beli platform furnitur di Indonesia
							</p>
						</div>
						<div class="clear wd-100-p mg-t-20">
							<ul class="clear list-none">
								<li class="float-left list-social" >
									<a href="#">
										<img src="{{asset('images/social/facebook.svg')}}" alt="" height="25" class="filter-to-white">
									</a>
								</li>
								<li class="float-left pg-l-20 list-social">
									<a href="#">
										<img src="{{asset('images/social/instagram.svg')}}" alt="" height="25" class="filter-to-white">
									</a>
								</li>
								<li class="float-left pg-l-20 list-social">
									<a href="#">
										<img src="{{asset('images/social/twitter.svg')}}" alt="" height="25" class="filter-to-white">
									</a>
								</li>
							</ul>
						</div>
					</ul>
					<ul class="footer-list parent-list list-none float-left">
						<li class="footer-list pg-b-10 footer-list-parent"><h4 class="color-white title font-light">My Account</h4></li>
						<li class="footer-list" ><a href="account.html" class="button-link color-white-footer ">My Account</a></li>
						<li class="footer-list"><a href="checkout.html" class="button-link color-white-footer ">Checkout</a></li>
						<li class="footer-list"><a href="cart.html" class="button-link color-white-footer ">Cart</a></li>
						<li class="footer-list"><a href="whistlist.html" class="button-link color-white-footer ">Whistlist</a></li>
					</ul>
					<ul class="footer-list parent-list list-none float-left">
						<li class="footer-list pg-b-10 footer-list-parent"><h4 class="color-white title font-light">Quick Links</h4></li>
						<li class="footer-list"><a href="how-it-work.html" class="button-link color-white-footer ">Cara kerja</a></li>
						<li class="footer-list"><a href="product.html" class="button-link color-white-footer ">Product</a></li>
						<li class="footer-list"><a href="chair.html" class="button-link color-white-footer ">Buat Desain Mu</a></li>
						<li class="footer-list"><a href="contact.html" class="button-link color-white-footer ">Kontak</a></li>
					</ul>
					<ul class="footer-list  parent-list list-none float-left">
						<li class="footer-list pg-b-10"><h4 class="color-white title font-light">Newsletter</h4></li>
						<li class="footer-list"><p class="color-white-footer wd-100-p">Get Our Latest Update In Your Email. Subscribe now to get 20% off on any product
						</p></li>
						<li class="footer-list clear">
							<form action="#" class=" clear" method="post">
								<div class="form-email-submit clear">
									<input type="text float-left" name="email" placeholder="ALAMAT EMAIL ">
									<button class="float-right button-transparent color-white-footer input background-transparent" type="submit">
									<i class="la la-arrow-right"></i>
									</button>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
			<div class="container clear footer-line">
				<span class="linear-line"></span>
			</div>
		</div>
		<div class="container">
			<div class="container footer-dash">
				<p class="text-align-left color-white font-light color-white">
					&copy;2019 Kayuku.co Powered By FlipsFlops Team
				</p>
			</div>
		</div>
	</footer>
	@include('components/modals/modals-cart')
	@include('components/modals/modals-search')
	@include('components/modals/modal-view-product')
	@include('components/modals/modal-report')
	<div class="flex-popup-parent"></div>
	@!section('component')
</body>
<!--<script src="assets/js/lodash.js" type="text/javascript" ></script>-->
<script src="assets/js/jquery.js" type="text/javascript" ></script>
<script src="assets/js/jquery.lazy.js" type="text/javascript" ></script>
<script src="assets/js/handlebars.js" type="text/javascript" ></script>
<script src="assets/js/jquery.paroller.js" type="text/javascript" ></script>
<script src="assets/js/public.js" type="text/javascript" ></script>
@!section('js')
<script src="assets/js/app.js" type="text/javascript" ></script>
</html>