<!DOCTYPE html>
<html lang="en"><head>
	@include('layouts.head')
	@!section('meta')
	<link rel="stylesheet" type="text/css" href="{{asset('css/component.css')}}">
	@!section('css')
	<link rel="stylesheet" type="text/css" href="{{asset('css/auth.css')}}">
	<script src="{{asset('js/jquery.js')}}" type="text/javascript" ></script>
</head>
<body>
	<div class="parent-auth">
		<div class="auth-data  auth-list">
			<div class="auth-parental">
				<div class="auth-data pg-b-35 scrooled-event ">
					@!section('auth')
					<div class="fb-login-button" data-size="small" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
				</div>
			</div>
		</div>
		<div class="auth-bg auth-list">
			<div class="auth-colosus">
				<a href="index.html">
					<img src="assets/images/Side-logo.png" alt="">
				</a>
			</div>
		</div>
	</div>
</body>
@!section('js')
<script src="assets/js/handlebars.js" type="text/javascript" ></script>
<script src="assets/js/jquery.lazy.js" type="text/javascript" ></script>
<script src="{{asset('js/public.js')}}" type="text/javascript" ></script>
<script src="{{asset('js/auth.js')}}" type="text/javascript" ></script>


</html>