	<div class="main-footer pg-15 wd-100-p  flex  background-white overflow-hidden ">
		<button class="button mg-l-auto button-line-primary color-primary rounded-50 pg-x-25 not-transition">SIMPAN KONSEP</button>
		<button class="button mg-l-10 button-primary color-white rounded-50 pg-x-30 not-transition">LANJUTKAN</button>
	</div>