<!DOCTYPE html>
<html lang="en"><head>
	@include('layouts.head')
	@!section('meta')
	<link rel="stylesheet" type="text/css" href="{{asset('css/component.css')}}">
	@!section('css')
	<link rel="stylesheet" type="text/css" href="{{asset('css/auth.css')}}">
	<script src="{{asset('js/jquery.js')}}" type="text/javascript" ></script>
</head>
<body>
	<div class="parent-auth">
		@!section('auth')
	</div>
</body>
@!section('js')
<script src="assets/js/handlebars.js" type="text/javascript" ></script>
<script src="assets/js/jquery.lazy.js" type="text/javascript" ></script>
<script src="{{asset('js/public.js')}}" type="text/javascript" ></script>
</html>